[2014-08-09 01:28] Gu1 opened #1 "Use http.debian.net instead of cdn.debian.net"
I notice the generated debian images on images.linuxcontainers.org are using the cdn.debian.net mirror and I was wondering about the benefits of switching to http.debian.net which is superior afaiu ?

[2014-10-28 00:47] #1 closed, assigned to nobody

[2015-04-20 03:50] stgraber opened #2 "testing lxcbot issue reporting"
Please ignore

[2015-04-20 03:56] #2 closed

[2015-04-23 11:00] benbooth493 opened #3 "Build debian squeeze images"
Currently images.linuxcontainers.org only hosts debian images for jessie, wheezy, and sid.
Please could you also provide squeeze images for both amd64, and i386 architectures?

Thanks,
Ben

[2015-04-23 14:39] stgraber commented on #3
Do images built with the debian template work for you?

If so, I'll add squeeze to images.linuxcontainers.org

[2015-04-23 15:00] benbooth493 commented on #3
I've been running cgroup containers in production for 18 months now. I've had much success but I'll be honest, I don't understand the nuances of running them with lxc 0.6+ ( if there are any )

Is it literally a case of you not bothering, or is there a configuration issues I should be aware of?

I'm happy to feedback my results?

[2015-04-24 13:41] benbooth493 commented on #3
Squeeze containers appear to run fine. Could you please add them to images.linuxcontainers.org?

[2015-04-27 07:47] benbooth493 commented on #3
Could you add squeeze to images.linuxcontainers.org at you earliest opportunity?

[2015-04-27 08:51] stgraber commented on #3
yeah, will do when I have a moment. I'm travelling for the next couple of weeks though so not sure when I'll have the time.

[2015-05-11 18:41] stgraber commented on #3
squeeze added to the config, images should start showing up within 24 hours.

[2015-05-11 18:41] #3 closed

[2015-12-30 22:17] jirutka opened #4 "Add Alpine Linux"
Could you please add images for Alpine Linux?

[2015-12-30 22:21] stgraber commented on #4
Not until someone converts the alpine linux template to something that can be used with the download template. And then only LXC releases after that point will be able to use the images.

[2015-12-30 22:21] #4 closed

[2015-12-30 22:22] stgraber commented on #4
To clarify, lxc-download requires templates that have their configuration split from the template script, without the configs in /usr/share/lxc/config the images can't work. The alpine template still does old school container configs, generating a unique config for every container rather than shipping its config in a common, shared file.

[2015-12-30 22:23] jirutka commented on #4
Okay, thanks for the hint, I’ll try to rewrite the template script.

[2016-02-15 10:46] ChlorideCull opened #5 "Adding Arch Linux"
What work would need to be done to enable Arch Linux builds? I see, for example, the following:

- Template script requires the arch-install-scripts and pacman.
- Template script does some funky stuff with systemd service files, which isn't needed now, in my experience.
- Template script doesn't mask some services that shouldn't run in a container, like systemd-udevd.
- systemd has some [issues wi

[2016-02-15 22:44] stgraber commented on #5
Ok, so the template issues should be fixed with a pull request again lxc/lxc.
The image builder typically runs on Ubuntu and basically just calls lxc-create -t DISTRO -n LXC_NAME, then compresses the result.

As pacman doesn't appear to be packaged for Ubuntu, you'll need to get archlinux to work properly inside LXC, at least well enough for the build-image script to use an arch image as its base

[2016-02-26 18:55] jirutka opened #6 "Add Alpine Linux"
I already requested it in #4, but the old Alpine build template was not suitable for using with download template.

I rewrote the template and it was already merged (https://github.com/lxc/lxc/pull/751), so I guess that now it can be added to CI. :smile_cat:

[2016-03-19 11:17] ChlorideCull commented on #5
I've not had too much time to work on this, but I got pacman (kinda) packaged for Ubuntu [here](https://github.com/ChlorideCull/pacman-minus-arch). Amusingly, it was just clobbered by an apt-get upgrade, because the actual game is in the repositories, haha.

[2016-03-19 16:45] stgraber commented on #5
Ah, nice, that's gonna be much nicer than having to get lxc-ci to work on archlinux :)

[2016-03-22 10:51] jirutka commented on #6
ping @stgraber

[2016-03-22 17:54] stgraber commented on #6
It has been added a few days ago already. You need LXC 2.0 for it to show up though.

[code]

[2016-03-22 17:54] #6 closed

[2016-05-06 06:25] bhush9 opened #7 "Build android binaries with PIE support"
So that one don't have to patch bionic,

[code]

[2016-06-07 07:22] Samt43 commented on #7
Very interested by this too !
I tried to run lxc on android 6, and patching bionic and recompiling the whole aosp ROM was a pain !

[2016-06-07 19:58] stgraber commented on #7
A patch against the lxc-ci branch to tweak the Android build to use PIE would be appreciated.
LXC is built with PIE enabled on most Linux distributions so there shouldn't be any change needed in the upstream code for it.

[2016-06-25 12:25] xose opened #8 "Alpine Linux: ARM images and release 3.4"
Alpine has an official armhf port, but images are currently not being built for it.

Also, version 3.4 was released last month.

[2016-06-30 21:00] stgraber commented on #8
Done.

[2016-06-30 21:00] #8 closed

[2016-07-08 22:16] shvelo commented on #7
Any updates on this?

[2016-07-08 22:18] stgraber commented on #7
Nobody appears to be interested in providing a patch or a branch for this, so no.

[2016-07-09 07:43] shvelo commented on #7
I want to do this but I have absolutely no idea how LXC build system works
On Jul 9, 2016 02:18, "Stéphane Graber" <notifications@github.com> wrote:

[2016-07-09 07:52] Samt43 commented on #7
I worked on this, and i could have a arm 32 bit lxc with PIE support enabled.

I couldn't do it by just modifying LXC-CI, so i modified LXC build system to do so.
Here is my commit on lxc for this : https://github.com/Samt43/lxc/commit/ca674ac3dc60a4c566a480364a955428e5b08cf9.

I don't know if my change can be included directly in lxc (because maybe there is a better way to do so).
But it's workin

[2016-07-09 16:08] stgraber commented on #7
Does something like http://paste.ubuntu.com/18897690/ and passing --enable-hardening work?

[2016-07-26 04:34] binkybear commented on #7
If you use an NDK with a later API (instead of 9 in build script) it comes with PIE support by default.  I believe it's API's after 10.

[2016-07-26 11:21] stgraber commented on #7
I'd be fine moving to kitkat and higher, so that'd be API level 19. Can you send a branch to change it?

[2016-07-27 03:47] binkybear commented on #7
Hi @stgraber ,

I tried modifying build-android for use with NDK build script and I wasn't able to get it to play nice.  I did end up building it manually using a toolchain and testing it on the Nexus 5 (binaries ran):
[code]
I had to remove -werror from configure/Makefile in order to build also.

[2016-07-29 06:48] stgraber commented on #7
I just bumped our builds to use API level 21 and we've fixed the one build issue in the way.

There's a build in progress right now on Jenkins which will hopefully succeed and give you binaries that hopefully have PIE enabled.

[2016-07-29 06:49] bhush9 commented on #7
Thanks @stgraber

[2016-07-29 07:10] stgraber commented on #7
There we go: https://jenkins.linuxcontainers.org/view/All/job/lxc-build-android/lastSuccessfulBuild/

[2016-07-29 07:11] stgraber commented on #7
I'm assuming that this bug has been resolved now. If this still doesn't work on recent Android we'll look into whatever bits are missing.

[2016-07-29 07:11] #7 closed

[2016-07-29 13:24] binkybear commented on #7
Tried the latest build and it only contains /data.  It's missing system libs and binaries.

[2016-07-29 13:26] bhush9 commented on #7
Officially lxc provides binary and all only in /data.. see /data/lxc/lxc/

[2016-07-29 13:31] binkybear commented on #7
@bhush9 - Thanks for clearing that up.  I assumed from the build script it copied over some of the files to system.

I just gave it a run on marshmallow:
[code]

[2016-07-29 13:32] bhush9 commented on #7
Hmm. right so.. build still have non PIE executable.. it seems?

[2016-08-25 10:49] jcowgill opened #9 "Debian MIPS images"
Is it possible for LXC to build Debian mips\* images now that they work properly (at least with the dev version of LXC)?

The arches are mips, mipsel and mips64el although mips64el only exists in stretch and sid.

[2016-08-25 12:13] stgraber commented on #9
Not very easily, no. The CI infrastructure that builds those images runs on the native architecture (see jenkins.linuxcontainers.org). We do have fast builders for all the other architectures, but not for any of the mips stuff.

[2016-08-25 15:47] jcowgill commented on #9
Ah I didn't know everything was built natively. Using QEMU works (the `-I` option to the lxc-debian template), but if that's not good enough I don't think there are any options left.

[2016-08-26 14:57] stgraber commented on #9
Yeah, this may be a bit tricky to do even with a VM because we need to setup a full Jenkins builder in there and I'm not sure what kind of performance we'd be getting from running the big Jenkins java runner inside such a VM :)

[2016-08-26 16:07] jcowgill commented on #9
I mean qemu-user. You install it on the host and then pass `-I /usr/bin/qemu-mips64el-static` (or something similar) to `lxc-create` and it will use qemu to build the image.

[2016-08-26 16:16] stgraber commented on #9
Ah yeah, we could add support for qemu-user-static to the lxc-ci code and then have it build using the two stage --foreign debootstrap option that lxc-debian already supports.

[2016-08-31 11:27] ayushgoel1610 opened #10 "Only position independent executables (PIE) are supported."
Lxc binaries compiled using ndk give the above error when executed on android.

[2016-09-19 05:42] mcorb commented on #5
It's possible to do an unprivileged bootstrap using the [Arch LiveCD squashfs image](https://wiki.archlinux.org/index.php/Install_from_existing_Linux#Method_B:_Using_the_LiveCD_image):

1) Convert the squashfs to a runnable lxc image:
[code]

2) Bootstrap a clean rootfs:
[code]

3) Pull and import the generated rootfs as the final Arch Linux image

The pacstrap command needs patches to support unp

[2016-09-21 18:25] theblazehen commented on #5
@mcorb I'd be interested in that patch. Might do some work on getting it to work with jenkins.

[2016-10-07 21:15] lulcat commented on #5
theblazehen, if you use archlinux generally, then just open pacstrap and start patching. It is a bit long, but fairly easy to get around. I have been away for a 3months in a different country and will be going back soon, else I would happily patch it for you guys, if unprivileged ops are entirely possible.

[2016-10-09 10:23] eMPee584 commented on #7
still built without -fPIE ... WHY 😱

[2016-10-13 16:48] lulcat commented on #5
Sigh. has anyone received that patch? I am soon moving again across countries so I have ample time for patching. Should I settle in and all that in a few months, I can find the time.

[2016-10-13 21:05] stgraber commented on #5
archlinux has now been added to the image server.

[2016-10-13 21:05] #5 closed

[2016-11-28 14:33] zeroware opened #11 "Question about the Ubuntu 16.04 xenial images"
Hello,

I was wondering why the images for Ubuntu 16.04 are way lighter than the one provided by the remote `https://cloud-images.ubuntu.com/releases` ?
I can see for example that the `snapd` daemon is not included.

Thanks,

[2016-11-28 18:07] stgraber commented on #11
The community images are just a minimal debootstrap of Ubuntu + ssh and vim.

The images at cloud-images.ubuntu.com are full Ubuntu cloud images, coming with all the usual server tools.

[2016-11-28 18:07] #11 closed

[2016-12-31 04:48] bhush9 commented on #10
See issue #7

[2017-01-30 12:03] mabes opened #12 "Opensuse Leap images"
Are there any blockers to releasing Opensuse 42.1 and 42.2 images ?

[2017-02-17 07:59] droserasprout commented on #7
Getting the same error with LineageOS 14.1 (Android 7.1.1, kernel 3.18.31) on gemini.

[2017-02-17 09:06] Samt43 commented on #7
Yes, whatever the NDK used, the only solution is to fix the makefile (as i did in my previous comment)
With this, you will have an lxc version with PIE enabled :)

[2017-02-17 09:11] droserasprout commented on #7
Oh, I see now. Wondering why It isn't default configuration, there's no much pre-lollipop devices on the market now.

[2017-02-17 15:22] stgraber commented on #7
With the pkg-config change we merged a while back, it should be possible to convince the configure script to enable PIE without it breaking half the build.

[2017-02-17 17:26] ganto opened #13 "lxc-fedora-template CI job is failing"
Since merging the new `lxc-fedora` template from lxc/lxc#1371 all builds for the `fedora` download image are failing. See https://jenkins.linuxcontainers.org/job/lxc-template-fedora/. This should be fixed:

**Reason:**
- [Fedora 22](https://jenkins.linuxcontainers.org/job/lxc-template-fedora/arch=amd64,release=22,restrict=lxc-priv,variant=default/1452/consoleText): Not supported anymore by upstrea

[2017-02-17 18:46] stgraber commented on #13
I'll go update the list of fedora releases on Jenkins, that should take care of most of that, then I'll take a look at what may be causing the list download problem.

[2017-02-17 18:49] stgraber commented on #13
Release list updated, doing a manual run on buildd01 now to see what's going on

[2017-02-17 18:54] stgraber commented on #13
++ curl --silent --show-error --fail 'https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-24&arch='
++ sed '/^https:/!d'
++ sed '2,6!d'
+ mirror_urls=
+ '[' 0 -eq 0 ']'
+ '[' -n '' ']'
+ echo 'Warning: Failed to get a mirror on try 1.'

[2017-02-17 18:55] stgraber commented on #13
so looks like the problem is the architecture isn't passed somehow

[2017-02-17 19:01] stgraber commented on #13
@ganto so the problem is that get_mirrors() assumes that target_arch is defined, but it's not, which causes an invalid URL to be hit.

[2017-02-17 19:02] stgraber commented on #13
Working around this issue, I then hit:

Error: Download of squashfs image failed.

[2017-02-17 19:06] stgraber commented on #13
That seems to be because you wrote:

     for url in ${mirror:${mirror_urls}}

Instead of:

     for url in ${mirror:-${mirror_urls}}

Fixing that gets me a bit further

[2017-02-17 19:07] stgraber commented on #13
Next issue is that:

    if ! curl --silent --show-error --fail --remote-name "${mirror}${image_path}"

Should instead be:

    if ! curl --silent --show-error --fail --remote-name "${url}${image_path}"

[2017-02-17 19:09] stgraber commented on #13
That's the failing because image_path is /linux/releases/25/Everything/x86_64/os/images/install.img and url is https://mirror.its.sfu.ca/mirror/fedora/linux/releases/24/Everything/x86_64/os/ which doesn't result in a working path.

[2017-02-17 19:09] stgraber commented on #13
@ganto hopefully that's enough for you to come up with a fix :)

[2017-02-18 10:14] ganto commented on #13
Hmpf. I apologize, I shouldn't code when being offline... @stgraber Thanks a lot for your investigation.

[2017-02-18 16:52] #13 closed

[2017-02-18 17:24] ganto commented on #13
@stgraber Seems with lxc/lxc#1437 the build errors are fixed now. Thanks for merging. However, there are still some little issues in the CI script:
[code]
`yum` was replaced by `dnf` in the recent Fedora releases. Do you want me to send a fix or you do this by yourself?

[2017-03-14 18:10] denysvitali commented on #7
Is there an update on this? The builds are still performed without PIE

[2017-05-10 15:57] codekatana commented on #7
Hi, upstream android builds are not compiling with -fPIE, the issue is still present. I will try to fix it at configure.ac file as a "--enable-android-pie" and give a pull request. Stephen, that sounds good?

[2017-07-28 10:23] hwoarang commented on #12
I also e-mailed the list a few days ago (although my e-mail is still awaiting approval) to ask about Leap 42.3

[2017-07-28 14:33] stgraber commented on #12
I've added 42.3 to Jenkins. So far neither 42.2 nor 42.3 are building due to broken IPv6 on the opensuse mirror, but hopefully that'll get fixed soon.

[2017-07-28 14:33] #12 closed

[2017-10-03 21:49] rdab opened #16 "Provide cloud-init with images"
Hello:
Is it possible to provide cloud-init packages with images at images.linuxcontainers.org?

Maybe this is too difficult to achieve or people use other methods to provision systems other than Ubuntu from cloud-images.ubuntu.com.

Thanks.

[2017-10-09 16:48] MoritzMaxeiner opened #17 "Add Void Linux"
Could you please add support for Void Linux ([lxc template](https://github.com/lxc/lxc/blob/master/templates/lxc-voidlinux.in))?

[2018-01-19 13:14] hupangpang opened #19 "need helps"
i an new of linux, the testbuild-gcc program need file, deps/exercise , but where can i find the exercise file?
can anyone help me with it please!

[2018-01-19 13:17] stgraber commented on #19
Yeah, this branch isn't exactly meant to be run locally, it's really meant to be the thing that our Jenkins uses.

[2018-01-19 13:19] stgraber commented on #19
the README however does give a hint about where to find the file "from Debian packaging".

https://github.com/lxc/lxc-pkg-ubuntu/blob/dpm-bionic/debian/tests/exercise for example (varies based on what version you want to test against).

[2018-01-19 13:42] hupangpang commented on #19
thanks, i am just start learning lxc, it really helps

[2018-01-19 13:42] #19 closed

[2018-02-03 18:03] ihucos opened #20 "Signatures in archlinux broken"
Since I think some weeks, I can't install anything inside archlinux. The error message is something about signatures.

On this image:
https://us.images.linuxcontainers.org/images/archlinux/current/amd64/default/20180203_01:27/rootfs.tar.xz
[code]

[2018-02-03 18:13] stgraber commented on #20
GPG is broken for some reason in your container, that's unlikely to be an issue in the image generation scripts, it may be an issue with the lxc-archlinux script (lxc repo) or more likely some issue with gpg itself being unhappy for some reason in this environment.

[2018-02-03 18:32] ihucos commented on #20
Yeah, just found out the problem is not the image but the container runtime engine I am using, which is basically what I am developing currently (https://github.com/ihucos/plash)

So I am closing the issue.

[2018-02-03 18:32] #20 closed

[2018-04-23 08:23] LarsFronius opened #23 "No IP address obtained from downloaded ubuntu trusty image"
I am assuming this is the right repository to place issues with the images obtained via the `lxc-download` template.

I am running a ubuntu xenial host and run off the lxc 3.0 release from https://launchpad.net/~ubuntu-lxc/+archive/ubuntu/stable.
If I create container via `lxc-create -n foobar -t download -- -d ubuntu -r trusty -a amd64` and start it via `lxc-start`, it doesn't obtain an IP addres

[2018-04-23 16:59] stgraber commented on #23
Can you try adding this to your container's config, see if that unsticks it?
[code]

[2018-04-23 19:19] #23 closed, assigned to nobody

[2018-05-03 09:42] fbourqui opened #24 "Since 20180502 ubuntu/bionic/amd64 is not getting ip after lxd container creation"
it's due to bad version 2 added in the wrong place in /etc/netplan/10-lxc.yaml:
network:
  ethernets:
    eth0: {dhcp4: true}
version: 2

Last 2 version have this issue:
Ubuntu bionic amd64 (20180502_09:49) 87b5c0fec8ff
Ubuntu bionic amd64 (20180503_07:43) 4d1d191c4128

Previous one was good:
Ubuntu bionic amd64 (20180501_03:49) 856aae255ed4

/etc/netplan/10-lxc.yaml:
network:
  version: 2
  ether

[2018-05-03 09:45] stgraber commented on #24
Looking into this now, we change image building method yesterday, so that's likely the source of the problem.

[2018-05-03 10:13] #24 closed

[2018-05-03 10:14] stgraber commented on #24
Fixed and triggered a general rebuild.

[2018-05-22 09:56] iainlane opened #25 "Race in image publishing on images.linuxcontainers.org"
simplestreams was advertising

```"20180522_07:53": {"items": {"root.tar.xz": {"size": 78471080, "path": "images/ubuntu/artful/armhf/default/20180522_07:53/rootfs.tar.xz", "ftype": "root.tar.xz", "sha256": "89172b09e7fcaf0d321cd8cfeacffe7e8657bde75d2031868f3cd8431ec67915"}```

but

[code]

was happening. This has just resolved itself, so it looks like a race or maybe a caching/CDN problem.

[2018-05-22 13:51] stgraber commented on #25
Hmm, odd. The frontends are meant to rsync the data ahead of the indices to avoid this issue, so I wonder if it's mod_geoip that somehow sent one of your requests to the US servers and then the other to the UK servers? That'd explain it as there's no sync guarantee between the two set of servers.

[2018-06-07 11:04] hwoarang opened #26 "Please add openSUSE Leap 15 builds"
Hello,

openSUSE Leap 15 has been released, so it would be nice to add a new job to build suitable images. The existing template should work fine. Thank you.

[2018-06-07 18:08] stgraber commented on #26
Doesn't work, just tried adding it to Jenkins and the opensuse template refuses leap/15.0 as a release.

[2018-06-07 18:42] hwoarang commented on #26
OK I will double check the template and submit a PR if necessary

[2018-06-08 08:09] hwoarang commented on #26
@stgraber the repository changed quite a bit since the last time I looked at it for 42.3 Do you know where this opensuse template is nowadays so I can look at it?

[2018-06-08 08:10] stgraber commented on #26
https://github.com/lxc/lxc-templates

[2018-06-08 08:21] hwoarang commented on #26
Thank you for the quick reply. I have now opened https://github.com/lxc/lxc-templates/pull/9

[2018-06-08 09:04] duck-rh opened #27 "Please add Fedora 28 builds"
Quack,

It has been released recently and having it at hand would be be very useful.

\\_o<

[2018-06-08 15:32] stgraber commented on #27
The lxc-templates script for Fedora fails when attempting to build Fedora 28, until someone fixes that, we can't add the build to Jenkins.

[2018-06-15 13:54] hwoarang commented on #26
Could we try this once more now that the template is in? :) thank you

[2018-06-16 13:09] stgraber commented on #26
https://jenkins.linuxcontainers.org/job/lxc-template-opensuse/1672/arch=amd64,release=15.0,restrict=lxc-priv,variant=default/console

Still not working

[2018-06-18 12:52] hwoarang commented on #26
The url is not working. Is there a way for you to paste the error? I will try to have a look on my system as well.

[2018-06-18 14:31] stgraber commented on #26
I believe the error was related to grabbing the generated rootfs at the end. Our CI passed `leap/15.0` as the release, should be pretty easy to reproduce with that.

[2018-06-18 14:32] stgraber commented on #26
From what I remember of the error (now expired as you noticed), it was related to some path not existing, that path contained `leap/15.0` so I suspect something might have been expecting just `15.0` in that path.

[2018-06-18 14:42] hwoarang commented on #26
Thank you for the information. I will look into it as soon as possible

[2018-06-25 12:43] MohamadAyache opened #28 "LXC with Mageia 6"
hey,
i'm trying to implement a mageia 6 distribution with LXC. i downloaded and installed lxc packages and i hope i havent missed anything. i want to ask if is there a way to do that especially that there is not image manifest or template related to mageia or mandriva linux.

[2018-06-26 16:01] hwoarang commented on #26
@stgraber I have sent a new PR https://github.com/lxc/lxc-templates/pull/10 which hopefully addresses all your issues. Let me know if you still have problems.

[2018-06-26 16:59] stgraber commented on #26
Looks like it's built this time.

[2018-06-26 16:59] #26 closed

[2018-07-12 10:03] cquike commented on #27
Hi, according to this commit Fedora 28 supported has been added to lxc-fedora.in:
https://github.com/lxc/lxc-templates/commit/92fd4dd9ad6cf10d7cc364c17ffa196c08134635#diff-3ad8efc3028672522f47fed48d2b784e

Is that enough to support Fedora 28 builds?
Thank you!

[2018-07-12 14:06] stgraber commented on #27
Pretty sure I tried that and it failed, but I can try it again easily enough.

[2018-07-12 14:35] stgraber commented on #27
Looks like that worked.

[2018-07-12 14:35] #27 closed

[2018-07-13 08:24] duck-rh commented on #27
thanks you folks :-)

[2018-10-13 23:18] foozlevazquez opened #29 "fedora/amd/64 serial: 20181004_01:27 Doesn't start with IP4 address"
On Ubuntu 18.04.1 on DigitalOcean a fresh copy of fedora/28/amd64 does not start with an IPV4 address.  Shouldn't this fail in the image test process? (https://github.com/lxc/lxc-ci/blob/cf3fc0d68c2ff1abac5eceef5433648505d5d65e/bin/test-lxd-images#L88)

# Steps I followed

## Default lxd installation:
[code]
## Copy image

[code]

## Create container

[code]
##  Update repos on container
[code]

#

[2018-10-13 23:56] stgraber commented on #29
Works fine in our CI.

[code]

Note that on some kernels, Fedora's systemd is known for being unhappy about the kernel keyring.
A workaround for this is to set `security.syscalls.blacklist` to `keyctl errno 38`.

So try: lxc launch images:fedora/28 f28 -c security.syscalls.blacklist="keyctl errno 38"

[2018-10-13 23:56] #29 closed

[2018-11-20 16:07] cquike opened #30 "Please add Fedora 29 builds"
Fedora 29 has been out since a few weeks. It would be great to have Fedora 29 containers at https://images.linuxcontainers.org/ available to use with lxd.

[2018-11-20 17:40] stgraber commented on #30
Added

[2018-11-20 17:40] #30 closed

[2018-11-24 17:05] oxr463 opened #31 "Add OpenWrt"
Could you please add support for OpenWrt?

See also: https://gitlab.com/lramage94/lxc-templates/issues/1

[2018-12-29 12:02] plaes opened #32 "Debian images missing both ssh / cloud-init"
Current debian images cannot be easily used in an "automated" way because openssh-server is not installed/enabled and also cloud-init (issue #16) is missing.

[2018-12-29 12:20] stgraber commented on #32
lxc-attach or 'lxc exec' will work just fine. We may in time add cloud-init to our images but we're unlikely to do so until all images can have it.

[2018-12-29 14:46] plaes commented on #32
Well, I sort of overreacted. Let's close it.

[2018-12-29 14:46] #32 closed

[2019-01-31 09:21] julian-klode opened #33 "images:debian/jessie has 100% systemd-networkd CPU usage"
Just launch a new jessie container, and you end up with systemd-networkd in it running, utilizing an entire CPU core.

[2019-01-31 09:57] stgraber commented on #33
What LXD version are you using? Unless you're running edge, the apparmor profile is likely to prevent you from running any of those units.

[2019-01-31 10:32] stgraber commented on #33
jessie: 215 (broken)
stretch: 232 (fine)
sid: 240 (fine)

So this looks like a networkd issue which got fixed upstream and is now fine, if someone can track it down, it would be worth filing a bug against Debian's systemd package to have the fix included.

I'm closing the issue on our end as we don't have any special casing for jessie which would cause this and it instead looks like a systemd bug

[2019-01-31 10:32] #33 closed

[2019-04-03 11:38] cquike opened #34 "Add the posibility to access Fedora "legacy" images"
The Fedora images published at https://images.linuxcontainers.org/ included versions of Fedora 26, 27 that are now gone. I understand that these versions are no longer supported by Fedora  and therefore it makes sense not to offer them anymore. Unfortunately this has broken our workflow, where we use those images to test our software in different platforms used by the customers (including some whi

[2019-04-03 11:50] cquike commented on #34
The same could potentially apply to other legacy images from other distributions, of course.

[2019-04-03 12:06] cquike opened #35 "Continue provinding Fedora i386 images"
Fedora i386 have been offered in the past and continue to be useful for testing purposes. Since i386 is still offered and supported by Fedora, could you please add them to images.linuxcontainers.org again?

[2019-04-03 12:56] stgraber commented on #35
We are building images for all architectures that are available at the time through https://kojipkgs.fedoraproject.org/packages/Fedora-Container-Base/

This currently does not include 32bit Intel images, therefore we cannot build and publish such images.

I'd recommend you reach out to the Fedora project and get them to publish that Intel 32bit artifact, once that's present, we can trivially add t

[2019-04-03 12:56] #35 closed

[2019-04-03 13:04] stgraber commented on #34
It seems unlikely that we would take on something like this ourselves. We're already dealing with a dataset of several hundreds GBs of images and that's just for the actively maintained ones. Adding on legacy images may run some of our GeoIP mirrors out of space which would be a problem.

It would also need us to closely monitor the EOL of every release of every distribution which isn't something

[2019-04-03 13:04] #34 closed

[2019-05-10 10:09] cquike opened #37 "Please add Fedora 30 builds"
Fedora 30 is out since last week. It would be useful to add Fedora 30 support in the LXD images published at https://images.linuxcontainers.org/.

[2019-05-10 12:35] stgraber commented on #37
Added

[2019-05-10 12:35] #37 closed

[2019-05-16 04:19] matthewbauer opened #38 "Add NixOS"
What is the process for adding new distros? I would like to add NixOS images to the registry. I can write the build configurations myself, but want to make sure new distros are accepted first.

My main use case is getting Chrome OS laptops setup with Crostini, so if there are other registries that support this, please point me there.

More information at: https://nixos.org

[2019-05-16 05:43] brauner commented on #38
Yep, new distros are definitely accepted. :)

[2019-05-16 06:42] stgraber commented on #38
Hi, I'm closing this issue here as there's currently nothing for us to add to lxc-ci.

The normal process to add a distro for us is to get it working with https://github.com/lxc/distrobuilder including a basic .yaml for it. Once that's done, ping me and I'll add it to jenkins so it builds on our infrastructure daily and makes it to images.linuxcontainers.org

Thanks!

[2019-05-16 06:42] #38 closed

[2019-05-16 06:43] stgraber commented on #9
Closing this here as we're entirely relying on distrobuilder for image building now.
If you want to contribute qemu-user-static support to distrobuilder for Debian images, then we could add the MIPS images.

https://github.com/lxc/distrobuilder

[2019-05-16 06:43] #9 closed

[2019-05-16 06:46] stgraber commented on #17
Hi,

We don't use those templates anymore for our image building, it's now all going on through distrobuilder.

Adding support for Void in https://github.com/lxc/distrobuilder including a sample YAML is really all that's needed now. Once done, let me know and I'll add it to our automated image building logic.

[2019-05-16 06:46] #17 closed

[2019-05-16 06:46] stgraber commented on #31
These days all our public images are built through distrobuilder.
The recommended way forward would be to add openwrt to distrobuilder at https://github.com/lxc/distrobuilder once done, I can easily add this to our image building pipeline.

[2019-05-16 06:46] #31 closed

[2019-05-16 06:47] stgraber commented on #25
@iainlane has that been a problem for you recently or is the current syncing logic better and avoiding such races?

[2019-05-29 19:43] oxr463 commented on #31
Commit: https://github.com/lxc/distrobuilder/commit/043e58760523b7048ca2dd25a1c9e2ccf0e275ce

[2019-05-29 19:57] aparcar commented on #31
Would be cool to add this as an image, however it requires daily rebuilds as currently only snapshots (daily builds of master branch) are supported.

[2019-05-30 22:07] stgraber commented on #31
Yeah, that's fine, all our images are built daily anyway.

I'm on vacation for two weeks so have pretty limited time to deal with new images right now, but I'm attending it to my todo so we should have published images in the next few weeks.

[2019-06-17 14:05] aparcar commented on #31
Ping?

[2019-06-17 14:49] stgraber commented on #31
That was done quite a while back, `images:openwrt` works fine here

[2019-06-17 14:52] aparcar commented on #31
Awesome, sorry for bothering!

[2019-06-17 18:03] mw9 opened #39 "Download template delivers armhf binaries although armel requested"
I have just tried to build a container for Debian stretch **armel**:

`lxc-create -n testlxcusr -f testlxcusr.conf -t download -- --dist debian --arch armel --release stretch`

And I have been given **armhf** binaries, which is puzzling:

`You just created a Debian stretch armhf (20190617_05:24) container.`

And it would seem to be so:
[code]
Here's a trace from the executing template which sugges

[2019-07-12 13:13] pille opened #47 "provide aplinfo.dat for your lxc images"
please generate a ```aplinfo.dat``` that describes your available images, so that they can be used directly in Proxmox VE (automatic discovery, download and install).

basically it's a list of entries like:
[code]
you can find current example lists here:
http://download.proxmox.com/images/aplinfo.dat
https://releases.turnkeylinux.org/pve/aplinfo.dat

those files can also be signed provided signed

[2019-07-30 16:28] sr229 opened #53 "OpenWRT images should pin versions"
Currently the OpenWrt images builds on snapshots but that's quite bad practice and people wants to target a more stable OpenWrt version.

[2019-07-30 17:43] stgraber commented on #53
Does the distrobuilder handler for OpenWRT support using the releases? If it does we can configure Jenkins to build the stable releases as well as development branch.

[2019-08-03 08:10] iainlane commented on #25
@stgraber sorry for not replying before, but (un) luckily it's happening for me right now:

This happened:

[code]

Right now when I [browse to the directory](https://uk.images.linuxcontainers.org/images/debian/buster/armhf/default/20190803_05:24/), it is empty. If it's the same thing as I had before it'll probably resolve shortly.

[2019-08-07 14:07] stgraber commented on #25
I've reworked our publishing script to do atomic updates, keeping the old data around until the next publishing run, this should avoid this kind of problem, assuming that the frontends run by Canonical IS don't do anything too weird when they rsync.

[2019-08-07 14:07] #25 closed

[2019-08-29 22:29] tsteven4 opened #66 "Incorrect usage message in build-distro"
Usage message doesn't match code (target and timeout interchanged):
https://github.com/lxc/lxc-ci/blob/011c960d5766af4cbc1f4d0d72a51eda4947a085/bin/build-distro#L5-L16

[2019-08-30 05:58] stgraber commented on #66
Indeed. @monstermunchkin can you take care of this?

[2019-08-30 06:12] #66 closed

[2019-08-31 20:27] tsteven4 opened #68 "Please add ubuntu-core/18 images to https://us.images.linuxcontainers.org/"
Please add the ubuntu-core/18 images analogous to:

+--------------------------------------+--------------+--------+----------------------------------------------+---------+----------+-------------------------------+
| ubuntu-core/16/i386 (1 more)         | 4159a7c6fcfe | yes    | Ubuntu-Core 16 i386 (20190825_07:47)         | i686    | 239.77MB | Aug 25, 2019 at 12:00am (UTC) |

Thanks

[2019-09-01 09:07] stgraber commented on #68
Yeah, we've been trying to get it to behave for months now but snapd in that image still has issues.

[2019-09-03 18:47] #53 closed

[2019-09-25 17:07] etiktin opened #83 "CentOS 8 images"
CentOS 8 was released yesterday (https://lists.centos.org/pipermail/centos-announce/2019-September/023449.html).
Any chance of adding it?

[2019-09-25 17:12] stgraber commented on #83
not yet, the required minimal images haven't been published for centos 8

[2019-09-25 17:12] stgraber commented on #83
I asked @monstermunchkin to look into adding centos 8 yesterday and that's when he noticed that some of the artifacts we need just don't exist yet

[2019-09-25 17:52] etiktin commented on #83
I see. Hope they will make them available soon.
Thanks!

[2019-09-26 12:43] jmontleon commented on #83
If the 'image' is the minimal ISO it sounds like it's under discussion:

[2019-09-26 12:44] jmontleon commented on #83
If this is is the minimal ISO it sounds like it's under discussion at this point:
https://www.centos.org/forums/viewtopic.php?f=54&t=71773

"It's under discussion and will depend largely on how difficult it is."

[2019-09-26 13:36] stgraber commented on #83
Yup, that's what we use as the base for distrobuilder to generate centos images.

The only other alternative we'd have is to download the 6GB+ image, which would take quite a while and be extremely wasteful just to build a tiny container image out of it.

[2019-10-15 07:19] cquike commented on #83
I have seen that new images have appeared for Centos 8 in https://us.images.linuxcontainers.org. Thank you very much for the work.

[2019-10-15 07:33] cquike opened #90 "Centos 8 container doesn't always get IPv4 address from DHCP"
I am starting to deploy Centos 8 LXD containers and I see that most of the time the container doesn't get an IPv4 address. it seems to be a race condition, because in a fairly fast host with an SSD it gets the address most of the time while in a slower host it doesn't get it most of the time.

The containers where created with the simple command
`lxc init images:centos/8 centos8-test`

I am not su

[2019-10-15 07:35] cquike commented on #90
This is the output of journalctl in the case where no IPv4 address is set:

Oct 14 16:56:27 centos8-test systemd[1]: Started Network Manager Script Dispatcher Service.
Oct 14 16:56:27 centos8-test NetworkManager[56]: <info>  [1571072187.2902] settings: Loaded settings plugin: SettingsPluginIfcfg ("/usr/lib64/NetworkManager/1.14.0-14.el8/libnm-settings-plugin-ifcfg-rh.so")
Oct 14 16:56:27 centos8-t

[2019-10-15 11:05] etiktin commented on #83
Thanks!

[2019-10-15 11:05] #83 closed

[2019-10-21 19:00] stgraber commented on #90
@cquike can you check if `images:centos/8/cloud` gives you the same problem?

We have a NetworkManager override in that one which may be working around this issue, if that one works, we can roll out that workaround to more images.

[2019-11-11 09:56] cquike commented on #90
Hi,
I have done now some tests with your suggestion and indeed now I have not seen any cases in which the container doesn't get the IPv4 address. So it looks like the workaround is working! It would be great if it can be rolled out to the other images.

[2019-11-11 19:36] #90 closed

[2019-11-12 11:06] cquike commented on #90
Just for the record: the images:centos/8 images seem to work fine now.
Thank you!

[2020-01-14 09:01] raider700 opened #103 "Please add Centos Stream to the images"
Hello,

can you add Centos Stream, the rolling release of Centos, to the Centos images?

Informations about Centos Stream:
* https://www.redhat.com/en/blog/transforming-development-experience-within-centos
* https://wiki.centos.org/Manuals/ReleaseNotes/CentOSStream#Presenting_CentOS_Stream

The next RedHat EL 8 Minor Versions will be based on Centos Stream.
There is also the option to get upstream

[2020-01-14 13:25] stgraber commented on #103
@monstermunchkin can you take a quick look when you have some time?
I don't know if they produce the artifacts that we need for distrobuilder.

[2020-01-15 06:55] monstermunchkin commented on #103
#104 resolves this issue.

[2020-01-15 13:03] #103 closed

[2020-01-26 06:17] FlyingWombat opened #107 "Alpine edge images target wrong repo"
The images for Alpine edge target the 'v3.8' repos, instead of the 'edge' repos.

## Steps
1. `lxc launch images:alpine/edge/amd64 test`
1. `lxc exec test ash`
1. `cat /etc/apk/repositories`
[code]
It should be:
[code]
It's not just that the URL's are wrong, the base packages installed are from v3.8 too.

[2020-01-26 06:47] stgraber commented on #107
@monstermunchkin

[2020-01-28 10:10] monstermunchkin commented on #107
The repo URLs have been fixed. There are no edge base packages, see [here](http://dl-cdn.alpinelinux.org/alpine/edge/releases/x86_64/). Our current implementation uses 3.8 as its base, but you can change that by adding `-o source.same_as=3.9` when running distrobuilder.

[2020-01-28 17:13] #107 closed

[2020-03-08 07:37] mazerty opened #132 "inconsistency for ssh in centos/8/cloud"
there's something off with how the centos/8/cloud variant is built:
when no authorized-keys is set in cloud-config, a warning message is shown in /var/log/cloud-init-output.log
but when authorized-keys is set, it doesn't seem to do anything: no authorized-keys is set for cloud-user

furthermore, i'd suggest adding "openssh-server" to the packages for the cloud variant, and start the sshd service,

[2020-03-08 16:36] stgraber commented on #132
That would be a cloud-init bug I think. We don't do anything special to our other images for that and the fact that cloud-init ran indicates that our side of things was done properly.

@raharper

[2020-03-08 16:38] stgraber commented on #132
We don't like installing packages that aren't necessary for most users, especially if that causes network services to startup. I think it's best to install sshd through cloud-init if you want it.

[2020-03-08 16:38] #132 closed

[2020-03-08 19:14] raharper commented on #132
[code]

Cloud-init expects certain commands to be present in the image;  Not having hostname or sshd service is unexpected.

IMO I believe most users of a cloud image would be surprised that they cannot ssh into it nor set the hostname.  For the centos/8  image, sure, it's not a "cloud" image;  for centos/8/cloud, I too would expect if you've installed cloud-init in it, for the standard boot-up to

[2020-03-08 21:19] stgraber commented on #132
Yeah, it would. Does cloudinit perform package installation first?

It would be nice if someone could just list sshd in the package list and have it be installed ahead of configuring it.

A little while back following a number of security issues, we went and removed sshd and any network service from all our images, either just not installing the package or disabling the service otherwise.

[2020-03-09 14:43] raharper commented on #132
OK

No, it must wait to install packages until the very end as installing packages may trigger reloads and spawns of new services.

I think this is what I'm suggesting, that if you're dnf/rpm/yum/apt installing cloud-init, that the package dependencies would also pull in sshd as one of cloud-init's primary tasks is to initialize ssh hostkeys and import user keys.  It's just quite strange for a clo

[2020-04-13 19:38] rafaeldtinoco opened #141 "LXD VM: cloud images for VIRTUAL MACHINES should use ClientIdentifier=mac"
# Required information

Ubuntu Eoan

[code]

# Issue description

After cloning a VM I ended up having the same IP address for the cloned VM:

[code]

# Steps to reproduce

Clone a VM and make sure netplan io is configured with DHCP4 for a single interface, for example.

first machine

[code]

[code]

second machine

[code]

[code]

# Information to attach

I believe that both machines ended up wi

[2020-04-13 22:34] stgraber commented on #141
@monstermunchkin can you change all our netplan configs (container & vm) to use the mac address as identifier? That would line things up with pre-netplan.

[2020-04-14 19:08] stgraber commented on #68
So we instead went the other way around and remove all Ubuntu Core images.

The workaround we were using to make those work was just too unstable and hard to maintain.

If you'd like those images to be available again, I'd recommend filing a bug on Launchpad (snap-core20 project as a start) asking for proper official support for running those images in containers.

This would likely require some w

[2020-04-14 19:08] #68 closed

[2020-04-14 19:33] #141 closed

[2020-04-30 18:32] simondeziel opened #148 "/etc/sudoers.d/90-lxd should be mode 0440"
Commit c2fd554b5b2d3 introduced `/etc/sudoers.d/90-lxd` but this file has mode 0644 causing sudo validation failures:

`
# visudo -c
/etc/sudoers: parsed OK
/etc/sudoers.d/90-lxd: bad permissions, should be mode 0440
/etc/sudoers.d/README: parsed OK

# echo $?
1
`

[2020-05-05 18:46] melato opened #149 "cannot remove ubuntu user with cloud-init in images:ubuntu/focal/cloud"
# Required information

 * Distribution:  Ubuntu 18.04.4 LTS
 * Versions:
   * Kernel version: 5.3.0-51-generic lxc/lxd#44~18.04.2-Ubuntu SMP Thu Apr 23 14:27:18 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
   * LXC version: 4.0.1
   * LXD version: 4.0.1
   * lxd snap version:  4.0.1      14890
   * Storage backend in use:  ZFS
   * image description: Ubuntu focal amd64 (20200505_07:42)

# Issue descri

[2020-05-05 22:05] stgraber commented on #149
Moved to the correct repository.

The issue is that our images always include the user and do not rely on cloud-init to create it, so you can't tell cloud-init not to create it since it's already there.

[2020-05-05 22:06] #149 closed

[2020-05-06 04:36] melato commented on #149
Then why can cloud-init remove the user in the ubuntu:20.04 image?

[2020-05-06 12:17] stgraber commented on #149
Because that image doesn't have the user pre-created in it

[2020-05-07 02:31] stgraber opened #150 "ArchLinux images on arm64 stuck in grub"
https://discuss.linuxcontainers.org/t/lxd-virtual-machines-runing-perfectly-in-raspberry-pi-4/7706/3

[2020-05-10 22:03] LaneGeek commented on #150
This happens:-

BdsDxe: loading Boot0001 "UEFI QEMU QEMU HARDDISK " from PciRoot(0x0)/Pci(0x2,0x0)/Pci(0x0,0x0)/Scsi(0x0,0x1)
BdsDxe: failed to load Boot0001 "UEFI QEMU QEMU HARDDISK " from PciRoot(0x0)/Pci(0x2,0x0)/Pci(0x0,0x0)/Scsi(0x0,0x1): Access Denied

So then I disable secure boot and then this happens:-

                             GNU GRUB  version 2.04

   Minimal BASH-like line editing

[2020-05-10 22:05] LaneGeek opened #151 "openSUSE Tumbleweed VM images on arm64 failed to boot"
This happens:-

BdsDxe: loading Boot0001 "UEFI QEMU QEMU HARDDISK " from PciRoot(0x0)/Pci(0x2,0x0)/Pci(0x0,0x0)/Scsi(0x0,0x1)
BdsDxe: failed to load Boot0001 "UEFI QEMU QEMU HARDDISK " from PciRoot(0x0)/Pci(0x2,0x0)/Pci(0x0,0x0)/Scsi(0x0,0x1): Access Denied

So then I disable secure boot and then this happens:-

  Booting `openSUSE Tumbleweed'

Loading Linux 5.6.8-1-default ...
error: can't find c

[2020-05-11 13:24] stgraber commented on #151
@monstermunchkin

[2020-05-14 17:22] marbetschar opened #154 "Desktop Environment Variants?"
Hi there,

**TL;DR**

Any chance we can distribute desktops images through images.linuxcontainers.org based upon the existing cloud variants which support `cloud-init`?

- ubuntu/$RELEASE/desktop-default
  - based on: ubuntu/$RELEASE/cloud
  - additional package installed: ubuntu-desktop
- ubuntu/$RELEASE/desktop-kde
  - based on: ubuntu/$RELEASE/cloud
  - additional package installed:  kubuntu-de

[2020-05-14 18:15] marbetschar opened #155 "apt broken in ubuntu/focal/cloud (amd64)"
When executing apt I get the following error - which breaks my `cloud-init` setup:

[code]

[2020-05-14 19:16] stgraber commented on #154
I'd say not at this time. Maybe once we have support for graphical output on the VM front, there will be more of a use case of this than just containers and we could build a few specific ones.

You are right that this will be quite expensive for us to build and distribute, those images will be significantly larger and will take a long time to build, so that means a lot more stress on the build mac

[2020-05-14 19:19] stgraber commented on #155
Hmm, odd. @monstermunchkin can you check that image?

[2020-05-14 20:52] marbetschar commented on #154
Understood. Was already expecting that, will pursue the `cloud-init` road then - will figure out how far this goes :)

[2020-05-14 20:52] #154 closed

[2020-05-15 10:17] monstermunchkin commented on #155
Launching a container using `lxc launch images:ubuntu/focal/cloud c2`, and then running `apt update` inside of the container doesn't give me that error.

@marbetschar Does this happen every time? What are the exact steps to reproduce this issue?

[2020-05-15 10:22] marbetschar commented on #155
@monstermunchkin it happens every time. Maybe my locally cached image is corrupt then? How do I force a redownload?

Steps to reproduce:

[code]

[2020-05-15 10:32] monstermunchkin commented on #155
I did the exact same thing, and don't run into the error. My image's hash is `9c1933d418c3` (`lxc image ls`). You can run `lxc image refresh <hash>` (your hash) to update the image.

[2020-05-15 11:01] marbetschar commented on #155
That fixed it. Thank you very much!!

[2020-05-15 11:01] #155 closed

[2020-05-15 11:54] monstermunchkin commented on #151
@LaneGeek Have you been able to test the updated openSUSE image?

[2020-05-15 14:38] LaneGeek commented on #151
I tested it just now, and it works!!!!

Thanks 👍

Unfortunately, Arch still does not work...

[2020-05-15 14:41] monstermunchkin commented on #151
OK, great. I'm closing this issue as the Tumbleweed problem has been resolved, and Arch has it's own GitHub issue.

[2020-05-15 14:41] #151 closed

[2020-05-16 08:48] bne86 opened #156 "CentOS8 support (Error: Error while downloading source: Couldn't get name of iso)"
Hi,

I would be interested in how you get [this](https://github.com/lxc/lxc-ci/blob/master/images/centos.yaml#L202) running on CentOS 8. You give the variant `minimal`, while this kind of isos is not available on the [official repos](http://centos.mirror.iweb.ca/8.1.1911/isos/x86_64/).
And I am a bit stuck in getting [this line](https://github.com/lxc/distrobuilder/blob/26878e0e765060311bd17710157

[2020-05-16 08:53] bne86 commented on #156
Sorry, wrong repo. And maybe due to an old version/binary.

[2020-05-16 08:53] #156 closed

[2020-06-10 09:22] mjrider opened #166 "Cloud-init network configuration fails in Debian/buster/cloud/amd64 image"
Enviroment:
network: without dhcp, all interfaces need a static allocation

partial config with both methods of defining the dns resolvers
[code]

This results in:
- empty /etc/resolv.conf file, because the package resolvconf ( or alternative ) is missing
- slow boot, because of hardcoded eth0 dhcp in /etc/network/interfaces (https://github.com/lxc/lxc-ci/blob/master/images/debian.yaml#L856)

[2020-06-11 22:56] #166 closed

[2020-06-20 19:57] kkremitzki opened #172 "Debian bullseye/sid VMs broken?"
Hi, it seems the aforementioned VMs are broken. I can e.g. `lxc launch images:debian/buster --vm` and then `lxc shell` or `lxc exec` with it as expected. However if I try the same with `images:debian/bullseye` or `/sid`, I get `Error: Failed to connect to lxd-agent`. From the output of `lxc ls`, I can tell it's at least come up successfully and has an IPv4 and IPv6 address. Per `lxc version`, I ha

[2020-06-20 20:00] stgraber commented on #172
Does it seem to boot correctly when looking at lxc console?

[2020-06-20 20:01] kkremitzki commented on #172
Yes, I get e.g.:

[code]

[2020-06-20 21:09] stgraber commented on #172
Ok, that suggests there may have been some kind of kernel change leading to missing required bits for the LXD agent.

[2020-06-22 04:34] stgraber commented on #172
@monstermunchkin please investigate

[2020-06-22 06:10] monstermunchkin commented on #172
None of the mentioned images seem to be broken. I tried buster (53df0fa229ad), bullseye (9709843ba38c), and sid (e2e8641026ab), and was able to connect to all of them using `lxd shell`.

@kkremitzki Are you using the same images (i.e. same hashes)? If not, could you update your images and see if the problem remains?

[2020-06-22 07:13] kkremitzki commented on #172
Yep, those are the same hashes I'm using. I'm seeing this behavior on 3 different machines, 2 of them running Debian 10 with the backports kernel and an Ubuntu 19.10 machine.

[2020-06-22 07:50] kkremitzki commented on #172
I think this is IPv6 related because I have been troubleshooting a problem with my network config recently; I justed tested on a fresh DigitalOcean VM and the same bullseye/sid images work. Still, it's strange that my "not sure why it's not quite right" IPv6 setup would work for buster but not other releases.

[2020-06-22 13:21] stgraber commented on #172
Yeah, it's a bit strange especially as lxd-agent doesn't use the network and the unit is supposed to start before any networking stuff anyway.

[2020-06-22 13:25] stgraber commented on #172
I'm getting the same issue here though.

[2020-06-22 13:26] stgraber commented on #172
It's a race condition, everything boots fine but the agent attempts to start before /dev/virtio-ports/org.linuxcontainers.lxd becomes visible.

[2020-06-22 19:37] stgraber commented on #172
https://github.com/lxc/distrobuilder/pull/348

[2020-06-22 20:19] stgraber commented on #172
The fix has been merged, I'll re-build things so we get testing from those images tonight.

[2020-06-22 20:19] #172 closed

[2020-06-22 20:53] #150 closed

[2020-06-22 20:54] stgraber commented on #150
Disabled arm64 images as grub is busted on ArchLinux...

I did some poking at it and confirmed that we have a valid grub.cfg and that a manual attempt to boot with linux/initrd/boot works just fine, the issue appears to be that the arm64 build of grub on arch isn't properly handling the menu and boot options in grub.cfg, preventing boot.

[2020-07-06 17:31] LaneGeek opened #176 "Alpine VM Image (Arm64) Fails To Boot"
I am very pleased to see a VM image for Alpine Linux 3.12. Unfortunately on the Raspberry Pi (Arm 64), it fails to boot.

It gets very far, but then gets stuck. Here are the last few lines from the console:-

[    1.355424] PCI Interrupt Link [GSI1] enabled at IRQ 36
[    1.360881] pcieport 0000:00:01.0: PME: Signaling with IRQ 42
[    1.363813] pcieport 0000:00:01.0: pciehp: Slot #0 AttnBtn+ PwrC

[2020-07-06 17:35] stgraber commented on #176
@monstermunchkin this one's for you

[2020-07-06 18:49] kkremitzki opened #177 "DNS broken for some images in IPv6-only network"
For example, works on bionic+ since systemd-resolved is used, but is broken on xenial, buster+.

Reproduction setup:

[code]

Result:

Bionic:
[code]

Buster:
[code]

Xenial:
[code]

Apt failure:
[code]

[2020-07-06 21:08] stgraber commented on #177
Yes, that's normal and you'll need to manually modify the network config of the container to account for that.

The short version is that short of running something like networkd or NetworkManager which can detect either the RDNSS field in the RA or detect the managed/other-config field in the RA and then do DHCPv6 to get the DNS, there's nothing to actually configure your DNS server.

The only re

[2020-07-06 21:08] #177 closed

[2020-08-01 15:16] pajot opened #184 "gentoo image has empty repository path /var/db/repos/gentoo"
The base Gentoo image (966106a9d0cd) is missing the /var/db/repos/gentoo directory, which means that portage cannot be synced and the system is not modifiable by conventional means:

[code]

From the host:
[code]

[code]

[2020-08-01 16:38] stgraber commented on #184
@monstermunchkin can you sort this out?

[2020-08-02 14:34] pajot commented on #184
I've been trying to parse the gentoo.yaml script, and I can't see where /var/db/repos is being removed. In the [announcement for distrobuilder 1.0](https://discuss.linuxcontainers.org/t/distrobuilder-1-0-has-been-released/5987), Stéphane wrote

Is the base image incomplete, then? How can I define my own base image if I want to roll my own template?

[2020-08-02 15:09] pajot commented on #184
Okay, I understand what's happening now. The image creates an environment corresponding [to this section of the Gentoo install process.](https://wiki.gentoo.org/wiki/Handbook:AMD64/Installation/Base#Configuring_Portage)

After running

`emerge --sync`

which succeeds, the repo directory is populated and emerge operations can proceed without errors.

The question is whether this should or should no

[2020-08-02 15:45] stgraber commented on #184
I guess it was made to save space then. 210MB is quite a large increase on what's already one of our largest images. Combine that with the daily image updates and with how quickly that data becomes stale and I think it starts to make sense not to include it.

Though we'd probably want to compare the squashfs size with and without it to see what the actual impact is like

[2020-08-02 16:07] pajot commented on #184
The existing gentoo VM image is already over 700 MB. Adding the repo the container image would make it about 430 MB.

Can we put the sync operation in an action that is run when the container instance is created? That way the image stays compact and the container is (more) ready.

[2020-08-02 16:28] stgraber commented on #184
Yeah, I guess making it an init script that runs on first boot would work.

@monstermunchkin

[2020-08-02 18:52] pajot commented on #184
Do you mean like an OpenRC init script, or a configuration of lxd or lxc? If the learning curve isn't too steep on the latter, I can see about adding this, I've already forked the repo.

I would expect that the repo would compress nicely, as it consists almost entirely of text files. (That 430 MB number assumes no compression of the repository at all.)

[2020-08-02 19:14] stgraber commented on #184
I was thinking an openrc script which starts after networking is up and sync the data if it's not present already

[2020-08-02 19:19] pajot commented on #184
Ah, ok, right, dead simple and practically obvious :)

I'll see what I can cook up.

[2020-08-02 23:49] pajot commented on #184
I've made an attempt at a solution, see #185.

I cannot get the image to build (I cannot build an image with the original gentoo.yaml, either, I get two errors). This is working in Jenkins; what am I doing wrong?

[2020-08-02 23:59] pajot commented on #184
Also, I noticed one other thing that's concerning. Why does the image have system-wide keywording? I'm referring to this:
https://github.com/lxc/lxc-ci/blob/5865c94b68256463d2bceaf32c9437d1cf059aa1/images/gentoo.yaml#L464

Unstable keywords for the entire system are not appropriate for production. If there are packages that need unstable versions, that is fine, but those packages need to be keywor

[2020-08-04 22:13] pajot opened #187 "gentoo image sets system-wide ACCEPT_KEYWORDS"
The [gentoo.yaml image sets ACCEPT_KEYWORDS.](https://github.com/lxc/lxc-ci/blob/2e90f9deb2502ad74c627efce6ff9fd53e5e7b72/images/gentoo.yaml#L472)

Gentoo has stable and unstable ebuilds in its tree. Unstable ebuilds are generally intended for testing before being declared stable. Setting the entire system unstable can cause problems and is potentially irreversible.

See [https://wiki.gentoo.org/w

[2020-08-04 22:14] stgraber commented on #187
@monstermunchkin

[2020-08-05 00:14] #187 closed

[2020-08-05 11:22] monstermunchkin commented on #184
I'm closing this issue as it has been resolved in #185 and #187.

[2020-08-05 11:22] #184 closed

[2020-08-09 13:28] noraj commented on #176
[code]

[2020-08-09 19:34] LaneGeek commented on #176
Is this fixed now?

[2020-08-10 08:24] monstermunchkin commented on #176
@LaneGeek No, unfortunately this is not fixed yet.

[2020-08-17 06:43] goost commented on #176
Any infos on what is wrong/where to investigate?

On my x86_64 Ubuntu machine the alpine images, started as a VM, are also failing to boot.
First, boot from HDD fails (`Access Denied`) and then it tries to boot via PXE and HTTP from network which, of course, fails too:
[code]

[2020-08-17 12:54] stgraber commented on #176
@goost set security.secureboot=false as Alpine doesn't provide a signed bootloader

[2020-08-20 15:41] goost commented on #176
Great, thanks, that works!

Sorry for not catching that myself. Where should I look in the documentation the next time?

[2020-08-20 19:27] stgraber commented on #176
We mentioned it in the Virtual Machines tutorial I believe, though exactly what distros and releases need secureboot varies and we haven't yet found a great way to annotate the images that need it (we also don't want to auto-disable security features based on image metadata).

[2020-10-15 14:24] spipu opened #195 "instead of removing old images, mark them as deprecated"
Hi,

i see that when the support on a OS is finished (like for debian jessie), you remove all.

Why you do not just rename then ? like debian-deprecated/jessie for example ?

because in my case, we have (i know it is bad) a server that is always on jessie, and is planned to upgrade soon, and we use LXD for env dev => the fact that the jessie template is not available any more is blocking us if we

[2020-10-15 15:07] stgraber commented on #195
You can always build your own images with distrobuilder, so long as the distros still have their package archives online anyway.

We obviously don't like keeping deprecated images around because that may mean people not noticing the image is no longer supported and getting themselves into some very nasty security issues without knowing but also, we have a finite amount of disk space on the various

[2020-10-15 15:07] #195 closed

[2020-12-08 06:08] blurfurb opened #206 "GPG key data in image yml is undocumented"
It would be good if the key data in the image yml files were more easily auditable, so could you please add some comments/documentation that justifies why the key data is correct? For example,  debian.yml has a list of fingerprints and public key blocks, so it would be nice to know the following about that data:

- why are these the right keys to use? a link to debian documentation that mentions t

[2020-12-08 14:00] stgraber commented on #206
They are all Debian official keys that have been added as they get rotated between releases or architectures.

Easiest to add comments on what they are would be to just import them into GPG and look at their name as those tend to be pretty clear.

[2020-12-11 22:23] blurfurb commented on #206
Thanks for the feedback, I'll hopefully have time to look into this and make a pull request soon.

[2020-12-23 13:08] kimfaint opened #261 "centos/8-Stream container on lxd tryit is not assigned IP"
On the [lxd tryit](https://linuxcontainers.org/lxd/try-it) server I ran the following:
[code]

Seems the fix https://github.com/lxc/lxc-ci/pull/216 was not effective.

Discussed [here](https://discuss.linuxcontainers.org/t/1-6-lxd-containers-not-assigned-ipv4-ipv6-addresses), @tomponline suggests it's due to the tryit service using `macvlan` nictype.

[2020-12-28 17:48] advancedwebdeveloper commented on #9
@jcowgill , do you have any progress here?

[2021-02-07 15:38] jelly opened #242 "Add cloud-init to Arch Linux LXD Image"
Arch Linux has [cloud-init](https://archlinux.org/packages/community/any/cloud-init/) packaged in the repository, so I am wondering if it could be added to the default arch linux image

[2021-02-07 16:07] stgraber commented on #242
Not in the main image, but we could add a `cloud` variant as we do the others.

@monstermunchkin

[2021-02-07 16:07] jelly commented on #242
Sounds good to me!

[2021-02-08 12:58] #242 closed

[2021-04-03 13:44] christoph-conrads opened #263 "Add license"
Hi, for testing BSD-licensed software, I would like to use, modify, and possibly distribute the YAML files in this repository but there is no licensing information in this repository. Could you please add a license at least for the images?

[2021-04-03 18:27] #263 closed

[2021-04-15 10:19] tomponline opened #265 "network-device-down.service prevents use of ipv4.gateway in lxc"
The file network-device-down.service added by https://github.com/lxc/lxc-ci/blob/master/images/centos.yaml#L373-L393 prevents the use of `ipv4.gateway` for `eth0` as it takes the interface down, removing the gateway.

See https://discuss.linuxcontainers.org/t/should-lxc-start-network-with-lxc-net-0-flags-up-and-without-any-net-init-script-inside-ct/10777

Example config:

[code]

[code]

Results i

[2021-04-15 15:57] #265 closed

[2021-04-15 19:14] evverx opened #267 "lxc-test-checkpoint-restore seems to be skipped on Jenkins"
I borrowed some shell code from `deps/lxc-exercise`, `bin/build-image-lxc` and `bin/testbuild-gcc` to make it possible to run the tests under ASan/UBsan on GHActions in https://github.com/lxc/lxc/pull/3787. Trying to figure out why `lxc-test-checkpoint-restore` failed (https://github.com/lxc/lxc/issues/3792) I went to the Jenkins dashboard to see whether it passed there and as far as I can tell it

[2021-04-16 12:28] ja-pa opened #269 "Feature request - add OpenWrt arm64 and armhf"
Hi,
would it be possible to add to OpenWrt jenkins job arm64(aarch64) and armhf(armv7) architectures ?
These images could be then used with lxc on arm based routers (see https://github.com/openwrt/packages/blob/master/utils/lxc/Makefile)

[2021-04-16 15:25] stgraber commented on #269
@monstermunchkin

[2021-04-16 16:34] christoph-conrads commented on #90
This issue occurs for me when several containers are started within a short amount of time and I see the exact same log output in `/var/log/messages`. The critical difference seems to be the initialization of the NIC. Please reopen the issue.

* [messages.c8-2.txt](https://github.com/lxc/lxc-ci/files/6326628/messages.c8-2.txt)
* [messages.c8-3.txt](https://github.com/lxc/lxc-ci/files/6326630/messa

[2021-04-28 14:40] mkg20001 opened #276 "Mask systemd-journald-audit.socket in systemd containers"
Currnelty systemd attempts to start systemd-journald-audit.socket due to conditions not matching, but it always fails to start.

It makes sense to mask this unit during distrobuilder build to keep it disabled.

[2021-04-28 14:40] stgraber commented on #276
@monstermunchkin can you send a PR to disable that unit on systemd based distros?

[2021-04-30 18:21] ganto opened #279 "Fedora 34 virtual machines don't load grub config"
When trying to boot a Fedora 34 virtual machine (cloud and non-cloud version) the boot will stop a grub command prompt as it doesn't seem to load the `grub.cfg`:

[code]
It's then possible to start the VM by manually pointing grub to the correct configuration file:
[code]
It seems that grub is not installed properly.

[2021-05-01 20:21] ganto commented on #279
Is probably related to [Fedora 34: Unify the GRUB configuration files location across all supported architectures](https://fedoraproject.org/wiki/Changes/UnifyGrubConfig)

[2021-05-02 01:10] stgraber commented on #279
Definitely sounds related

[2021-05-20 08:33] monstermunchkin commented on #276
Fixed in #278

[2021-05-20 08:33] #276 closed

[2021-05-26 14:10] monstermunchkin commented on #279
This was fixed in #288

[2021-05-26 14:10] #279 closed

[2021-06-04 12:45] LKHN opened #302 "Add support for AlmaLinux 8"
https://wiki.almalinux.org/#about

[2021-06-07 12:08] monstermunchkin commented on #302
Fixed in #304

[2021-06-07 12:08] #302 closed

[2021-06-09 16:57] christoph-conrads opened #312 "CentOS claims to have no internet connectivity"
For testing purposes of third-party software, my work place employs LXD instead of Docker containers with gitlab-runner: A container is launched, CMake as well as some tests run, and the container is destroyed. The container images are based on Debian, Alpine Linux, or CentOS. The CentOS 8 containers a very likely not to have internet connectivity, the CentOS 7 containers sometimes have no interne

[2021-06-16 02:33] stgraber commented on #261
Just rechecked on tryit now after our recent image fixes and it's now working properly.

[2021-06-16 02:33] #261 closed

[2021-06-16 02:36] stgraber commented on #206
Closing as so far we've found that confirming the fingerprint of each key being added and making sure we have a comment with the fingerprint has been sufficient. From there it's easy to either recheck the keys against a suitable keyring or look them up in one of the many GPG keyservers and then validate them by looking at the web of trust there (distro keys tend to be cross-signed or signed by an

[2021-06-16 02:36] #206 closed

[2021-06-16 02:42] stgraber commented on #176
Just gave it another go now and it's still getting stuck :(
Booting alpine/edge goes slightly further, we're getting `Mounting root: ok.` but still no login prompt or agent...

[2021-06-25 06:28] aivanise opened #337 "centos/8/cloud does not initialize network"
cloud-init variant of centos8 does not initialize networking

it does not install network-scripts package any more and relies solely on NetworkManager, but that fails with "No suitable device found for this connection (device lo not available because device is strictly unmanaged)."

[code]

[2021-06-28 20:26] stgraber commented on #337
Yeah, cloud-init only deals with NetworkManager.
We do however have daily tests for all our images which includes confirming that the network comes up online.

So this suggests an environment which is making NetworkManager unhappy. It's unfortunately known that NetworkManager doesn't deal well with macvlan, so if you're using macvlan, that's going to be a problem.
If using normal bridging, then th

[2021-06-29 07:58] 3eka commented on #337
Hi all,
network does not work w/o NetworkManager either...

For centos/8/default:
* network initialization fails with NetworkManager (no error shown, but network is down)
* network is fine w/o NetworkManager

Regards.

[2021-06-29 07:58] aivanise commented on #337
I'm using veth and normal bridging, and it was all working until the switch from network-scripts (https://github.com/lxc/lxc-ci/commit/f951837e5b62c15c9eb482691dc45c12e848afc8) NetworkManager was made. I'm also running the latest 8.4 RHEL kernel, but it is also failing in 8.3

I also see that non cloud was switched back to network scripts later (https://github.com/lxc/lxc-ci/commit/4f4aee78cad743c

[2021-06-29 17:23] stgraber commented on #337
[code]

That's pretty much all we do in our tests.

[2021-06-30 06:02] aivanise commented on #337
is there anything special in the default profile? host networking is bridged, I presume?

[2021-06-30 13:20] stgraber commented on #337
Nothing special, normal lxdbr0 bridge setup.

[2021-07-01 07:09] 3eka commented on #337
Hi @stgraber,

I have tried:
[code]
and:
[code]
So, no image modification were done, but still no network (above service has failed).
Regards

[2021-07-01 13:00] stgraber commented on #337
Can you look at /sys/class/net in your container? I'm guessing the issue may be that your kernel is too old to have properly namespaces network interface events which then prevents NetworkManager from properly detecting the interface.

[2021-07-02 08:39] 3eka commented on #337
Hi @stgraber ,

here you are:
[code]
and
[code]
Regarding kernel: cluster members run following versions:
* 4.18.0-240.22.1.el8_3.x86_64
* 4.18.0-305.3.1.el8.x86_64

NOTE: no network in any case (e.g when using `--target=MEMBER` option for launch command on either).
Regards.

[2021-07-05 21:33] stgraber commented on #337
Thanks for that, so it unfortunately shows the problem. The RHEL kernel is lacking support for proper ownership of network interfaces in sysfs. This is work @brauner did quite a while back which more modern distros have in their kernel.

@brauner I'm only finding https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=ef6a4c88e9e11bc32cd02b052d04745af9691412 which is more rec

[2021-07-05 21:33] #337 closed

[2021-07-06 14:26] aivanise commented on #337
I've tried applying the patch but i get a compile error, so it is definitely not everything. Can someone please give me the complete patch so that I can chase it with RedHat, if possible? @brauner ?

net/core/dev.c: In function 'dev_change_net_namespace':
net/core/dev.c:10180:8: error: implicit declaration of function 'netdev_change_owner'; did you mean 'netdev_change_features'? [-Werror=implicit-

[2021-07-06 14:36] brauner commented on #337
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=f70ce185687bbe4e2d7ff126a8c890631f5fc2af
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=0666a3aee762cd4f7981c2eed0fd8cab87533539
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=303a42769c4c4d8e5e3ad928df87eb36f8c1fa60
https://git.kernel.org/pub/scm/linux/kernel

[2021-07-06 14:36] brauner commented on #337
Everything's in this PR too:
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=ebb4a4bf76f164457184a3f43ebc1552416bc823

[2021-07-06 20:29] lmchale opened #341 "FR: aarch64 gentoo image"
Feature Request:
Please add support to build aarch64 gentoo images that would be useful in ampere (neoverse-n1) cloud instances.  I would build myself, but I'm unsure how to replicate the build process.

Similarly, it would be a value add to also include gentoo systemd images, if possible.  It seems like systemd lxd images require some tweaks to get working?  My attempts at getting a gentoo stage3

[2021-07-06 20:32] stgraber commented on #341
@monstermunchkin do you know why we have everything except for arm64 on gentoo?

[2021-07-06 20:40] monstermunchkin commented on #341
@stgraber I don't recall, but since there is a stage3 tarball for arm64 we should be able to add it.

[2021-07-07 07:46] aivanise commented on #337
Thank you, it actually applies fairly cleanly to the current RHEL8 kernel, I have filed a bug with redhat to try to convince them to backport it, let's see

https://bugzilla.redhat.com/show_bug.cgi?id=1979820

[2021-07-09 18:36] monstermunchkin commented on #341
Closed with #344 and #346

[2021-07-09 18:36] #341 closed

[2021-07-12 08:42] visit1985 opened #348 "images:centos/8 doesn't contain NetworkManager nor network-scripts"
The current `images:centos/8` doesn't contain NetworkManager nor network-scripts.

It has `/etc/sysconfig/network-scripts/ifcfg-eth0`, but no process picking it up.

`dnf list installed | grep -i network` shows nothing.

<details>
  <summary>lxc image list --format yaml</summary>

[code]
</details>

[2021-07-12 13:00] stgraber commented on #348
@monstermunchkin

[2021-07-12 16:04] #348 closed

[2021-07-13 05:08] Pascal666 opened #350 "Broken networking not being automatically detected"
Many of the images at https://jenkins.linuxcontainers.org/view/Images/job/image-centos/1310/ show good, even though they do not actually work - see #348

[2021-07-13 05:26] Pascal666 opened #351 "Image deployment process needs improvement"
As far as I can tell, newly built images are being deployed to the image server without any testing being done first.  Once deployed they are tested, and if they fail, they are simply left there.

It would be nice if:
1. Images were tested before being deployed to the image server and only deployed if they pass.
2. Images on the image server that fail testing were removed.

Thank you.

[2021-07-13 05:40] Pascal666 commented on #351
https://jenkins.linuxcontainers.org/job/lxd-test-images/lastFailedBuild/restrict=master,type=container/console shows 5 broken container images are currently on the image server.

https://jenkins.linuxcontainers.org/job/lxd-test-images/lastFailedBuild/restrict=master,type=vm/console shows 5 broken VM images are currently on the image server.

[2021-07-13 13:45] stgraber commented on #350
The network test works correctly, it did find the breakage that happened over the weekend.

There is a separate issue where NetworkManager based images tend to fall on some specific older kernels like the one found in RHEL/CentOS but that's not a bug with the image or with LXD, it's an issue with the kernel in question missing logic for proper network device ownership.

[2021-07-13 13:45] #350 closed

[2021-07-13 13:56] stgraber commented on #351
It's currently not something that we have the time or resources to do.

I agree it'd be nice to have images be gated on the test but that'd require running tests as images get built, then have the images be pulled from Jenkins rather than the image server, be tested and have the publishing logic look for the test result when scanning Jenkins for things to publish.

It's certainly doable but would

[2021-07-13 20:38] Pascal666 commented on #351
Would it be possible to only update the alias once an image has passed tests?  So still deploy them to the image server as soon as they are built but don't update the alias, modify the tester to pull down the latest fingerprint for each image type and update the alias for any images that pass.

[2021-07-13 20:47] stgraber commented on #351
No as there's no such thing as an alias on the image server. It's just an image index and it's the LXD client which locally generates those aliases, picking the image for your local architecture, that's compressed with something your machine can decompress and then picking the most recent build.

[2021-07-13 20:48] stgraber commented on #351
If the image server was running LXD, it's something we could do, but the image server is a static web server providing simplestreams metadata (https://images.linuxcontainers.org/streams/v1/images.json)

[2021-08-27 14:43] fergus-dall opened #381 "Debian images (and others?) lack extended attributes"
You can verify this by doing
[code]
You should get an output like
[code]
but instead get nothing.

This seems to have started sometime between late May and mid July. We have a build process which takes linuxcontainers debian images and customizes them, and we have good/bad images on those dates. Unfortunately I can't be more specific because we don't run builds very often.

I have tried running di

[2021-08-27 16:25] #381 closed, assigned to nobody

[2021-08-30 00:42] fergus-dall commented on #381
That seems to have done the trick, thanks!

[2021-08-30 18:43] fergus-dall commented on #381
Actually, I think this is still broken on arm64 builds, assuming upstream debian isn't doing anything strange there

[2021-08-30 18:49] stgraber commented on #381
Oh, you're right, the tmpfs logic only applies to x86_64 on our side, not aarch64 so for that we need the distobuilder fix which we've only merged about an hour ago. Let me kick a new Debian build now as that should fix it for good.

[2021-08-30 20:42] stgraber commented on #381
@fergus-dall fixed!

[code]

[2021-09-01 13:11] christoph-conrads opened #385 "Debian 11: `login -f` slow"
On `debian/11/amd64`, `login -f john` takes a few seconds to start a shell whereas `sudo --login --user john` works instantly.

The following information is found in the log files:
[code]

[2021-09-01 20:20] gmiranda commented on #269
May I ask what's currently blocking this? I had a quick look at your build system and couldn't figure out how the hell it downloads any file from the OpenWrt page :rofl:

[2021-09-01 21:24] stgraber commented on #269
Not sure! @monstermunchkin

[2021-09-02 03:00] stgraber commented on #385
[code]

[2021-09-02 10:58] christoph-conrads commented on #385
Following your instruction, I get see the following output:
[code]

[2021-09-02 11:00] christoph-conrads commented on #385
Do you want me to post all the information requested by bug reports in lxc/lxd (e.g., `lxc info`, execution with `--debug` flag)?

[2021-09-02 11:08] stgraber commented on #385
Yeah, the 'lxc info' and 'lxc config show NAME' outputs would be useful at least.

[2021-09-02 11:35] christoph-conrads commented on #385
[code]

[2021-09-02 11:39] stgraber commented on #385
Ah, 3.0.3, that's likely the issue. We keep having to evolve some of those apparmor policies to make systemd and other software happy.

LXD 3.0.x is our former LTS release, it's still supported for security updates but doesn't get new bugfixes backported.

I'd recommend getting yourself into at least 4.0.7 if you want to stick to LTS or 4.17 otherwise.

[2021-09-02 11:49] christoph-conrads commented on #385
On Ubuntu 20.04, `lxc snap refresh lxd --channel=4.0/stable` worked for me. There is no `lxd.migrate` executable.

Still not working. Attention: Ubuntu 20.04 output below!

[code]

[2021-09-03 09:47] monstermunchkin commented on #269
@gmiranda The reason is that OpenWrt for ARM needs to be built on x86, but we don't support cross builds. You'll need to build the container yourself using `distrobuilder`.

[2021-09-03 13:49] stgraber commented on #269
Ah right, that was it, we don't support cross building on our infrastructure and running natively on ARM doesn't work.

[2021-09-03 13:49] #269 closed

[2021-09-05 20:36] gmiranda commented on #269
And I guess using OpenWRT's armvirt64/32 rootfs binary package is out ot the question, isn't it?

[2021-09-06 08:13] monstermunchkin commented on #269
I just looked into it.

We use https://github.com/mikma/lxd-openwrt as part of our build process. This should build a patches `procd`. However, I just discovered that none of the versions we build seem to need a patch. I'm therefore wondering if we need this repo at all.

Should this not be the case, we could simplify our build process and possibly provide armvirt images as well.

[2021-09-06 13:47] monstermunchkin commented on #269
https://github.com/lxc/distrobuilder/pull/542

[2021-09-06 14:05] gmiranda commented on #269
According to cvmiller/openwrt-lxd (and as far as I can see) there's no need to patch anything on versions 19.07 and upwards. I'll give that a try as soon as possible

[2021-09-06 14:47] monstermunchkin commented on #269
I tested 19.07, 21.02, and snapshot, and all of them worked without having to use the repo.

[2021-09-06 17:36] christoph-conrads commented on #385
@stgraber The problem persists with LXD 4.0.7, see my preceding post for the output with LXD 4.0.7.

[2021-09-06 17:43] stgraber commented on #385
Maybe it's something we've fixed recently enough to not be in 4.0.7. I guess we'll have to wait for 4.0.8 to know.

As I showed above, I can't reproduce this with current LXD 4.17 or 4.18. So either it's something we've fixed after the 4.0.7 release or there's some other difference between my system and yours.

[2021-09-06 17:49] christoph-conrads commented on #385
Ok, then I will close the issue because I would have to upgrade a production machine and Devuan Chimaera is close.

[2021-09-06 17:49] #385 closed

[2021-09-06 18:08] stgraber commented on #385
I'm not seeing a matching change in apparmor between 4.0.7 and 4.18 though:
[code]

[2021-09-06 18:11] stgraber commented on #385
The change above is the only different but it wouldn't be helping your particular case, so it's suggesting it's some other difference.

We have:
[code]

In our policy already which matches the path and mount flags you're showing in the apparmor DENIED.
So this could be an apparmor kernel or parser bug.

[2021-09-07 07:22] monstermunchkin commented on #269
#387

[2021-10-04 07:36] amak79 opened #395 "Void Linux instance doesn't respond to lxc stop"
I'm running LXD 4.0.7 on a Gentoo Linux host with OpenRC and I'm unable to stop a Void Linux instance with `lxc stop`. Nothing happens and the command waits indefinitely. If I change the stop timeout value I get the following error.
[code]
[code]
I can use `lxc stop --force` but that could result in data loss and it takes ~20 seconds to complete.

I can stop the instance by running `shutdown -h no

[2021-10-04 13:15] stgraber commented on #395
Yeah, that's unfortunately a voidlinux problem...
A workaround is to do `lxc config set voidlinux raw.lxc lxc.signal.halt=SIGCONT`

A real fix would be to have their init system properly handle SIGPWR or get a dedicated signal similar to what systemd does.

[2021-10-04 13:15] #395 closed

[2021-10-04 14:07] amak79 commented on #395
I can stop the instance using the workaround. Thank you.

[2021-10-08 07:39] theCiscoGeek opened #401 "amazonlinux build issues post aarch changes"
I wanted to create an issue to document the issues caused by my recent changes - https://github.com/lxc/lxc-ci/pull/400/commits/1ba678a9317927ce2f472d5fedccba8766c82415

Builds started failing with this console output:
[code]

I believe this is caused by the logic I added to get the current release number using information from the redirect
[code]
***
Using bash, this appears to work:
[code]

Howe

[2021-10-08 07:43] theCiscoGeek commented on #401
It looks like changing how the `curl` output is passed to `sed` may work:

[code]

[2021-10-22 02:40] amak79 opened #408 "A better solution to the Void Linux shutdown problem"
PR https://github.com/lxc/lxc-ci/pull/183 attempts to fix the Void Linux shutdown problem, but any changes to `/etc/runit/1` won't survive an update to the runit-void package.

A better solution is the change the permissions of `/etc/runit/stopit` in `/etc/rc.local`, which is sourced during runit stage 2 and can be used to specify configuration to be done prior to login.

I've added the following

[2021-11-16 15:36] christoph-conrads commented on #385
The slow logins suddenly also occurred with Devuan Beowulf. The fix for both Debian 11 and Devuan Beowulf is to remove the optional modules in `/etc/pam.d/common-session`. The issue was found with the advice in the article [_A comprehensive guide to fixing slow SSH logins_](https://jrs-s.net/2017/07/01/slow-ssh-logins/) by JRS Systems. Above I wrote that the problem does not occur with Devuan Chim

[2021-11-16 15:38] christoph-conrads commented on #385
This problem is not new and not specific to LXC/LXD, see the [comment by user Linux\_freak in _All logins, like ssh, sudo, su take many seconds_](https://bugzilla.redhat.com/show_bug.cgi?id=1271394#c24):

[2021-12-02 22:58] melato opened #434 "remove sudo from alpine image"
I noticed that the sudo package was added to images/alpine.yaml on Tue Aug 10 07:32:24 2021 +0200.
Why was it added?  I do not see an issue that justifies it.  It seems unnecessary and undesirable for an image that has very few packages.

Here are some reasons to remove sudo:
- alpinelinux maintainers don't like sudo and plan to move it from the main to the community repositories  in version 3.16:

[2021-12-03 16:19] stgraber commented on #434
It's basically about consistency with all our other images as part of the minimal feature set we want to provide in them.
In this case, I think it'd be reasonable to tweak the YAML to switch over to doas starting with 3.15.

@monstermunchkin

[2021-12-05 10:33] melato commented on #434
The workaround is to create my own alpine image from scratch, using distrobuilder, which I am very pleased to have learned how to use (prompted by this issue).

The value of alpine for me is that its own "minimal feature set" is almost empty, so I can use it to make my own "LXD container distribution" by adding only the packages I want.  I may want to experiment with a container that has neither "

[2021-12-06 14:26] #434 closed

[2022-01-12 13:20] julian-klode opened #442 "images:ubuntu/impish/armhf and images:ubuntu/jammy/armhf are missing"
images:ubuntu/impish/armhf and images:ubuntu/jammy/armhf are missing, this is breaking the Ubuntu autopkgtest cloud :(

[2022-01-12 16:27] stgraber commented on #442
Quite indirect issue, our ppc64el build failures caused publication issues that lead to some architectures not publishing.

[2022-01-12 23:03] #442 closed, assigned to nobody

[2022-01-19 19:28] markylaing opened #445 "Ensure snapshots work after LXD migration"
The `storage_volume` and `storage_volume_snapshots` tables may be error prone after a migration due to the `sqlite_sequence` table and some triggers (see https://github.com/lxc/lxd/pull/9807).

We need to ensure that snapshots work correctly after a migration in case this comes up again.

[2022-01-24 15:46] #445 closed

[2022-02-11 15:38] tomponline opened #449 "Update OVN tests with latest features"
We should update https://github.com/lxc/lxc-ci/blob/master/bin/test-lxd-network-ovn with tests for features added in:

- https://github.com/lxc/lxd/pull/9813
- https://github.com/lxc/lxd/pull/9850

[2022-02-11 15:39] tomponline commented on #449
@markylaing when you get a chance to look at this, let me know if you have any questions.

[2022-02-17 14:11] markylaing opened #455 "Update LXD network tests to include lxd-agent rename interfaces feature"
The `agent.rename_interfaces` config key renames a VMs network interfaces on startup to match the names of attached NIC devices (see https://github.com/lxc/lxd/pull/9893).

We need to update the `bin/test-lxd-network` to include this feature.

[2022-03-24 16:06] #449 closed

[2022-03-27 15:01] manchelsi opened #480 "debian vm images - not agent"
root@lxc:~# lxc shell deb
Error: LXD VM agent isn't currently running

[2022-03-27 19:02] manchelsi commented on #480
images:debian/11 --vm && images:debian/10 --vm

[2022-03-28 05:50] #480 closed

[2022-03-29 10:42] randombenj commented on #480
Thanks for fixing, this also broke our custom images on 4.24 :sweat_smile:

[2022-03-30 08:46] tomponline opened #481 "Add tests for OVN chassis cluster member role"
https://github.com/lxc/lxd/pull/10119 introduce the concept of an OVN chassis cluster member role, but did not have any tests to accompany it.

We need to introduce tests for that feature to the https://github.com/lxc/lxc-ci/blob/master/bin/test-lxd-network-ovn test suite (or perhaps a separate file to setup a cluster).

[2022-04-08 10:11] tomponline opened #490 "Update OVN tests to run on Ubuntu Jammy"
The OVN daily tests currently depend on a feature that was removed from OVN :(

See https://github.com/ovn-org/ovn/issues/124

We should update our OVN tests to not rely on this feature by adding a static route manually.

[2022-04-12 17:11] tomponline commented on #490
Working on this. Even with specific fix i had in mind several other steps are failing intrrmittently.

[2022-04-21 17:44] tomponline opened #497 "Add lvm non-thin pool VM storage tests"

[2022-04-21 21:32] simondeziel opened #498 "debian/sid/cloud VM have broken networking"
Launching a container with `images:debian/sid/cloud` works well in the sense that cloud-init does it's job:

[code]

If one uses a VM instead, cloud-init will fail, apparently due to having `enp5s0` *down*:

[code]

The NIC status/names can be observed while the instance is booting with:

[code]

Additional information:

[code]

P.S.: I'm not sure if that should be a bug addressed in cloud-init or

[2022-04-21 21:43] stgraber commented on #498
@monstermunchkin

[2022-04-22 12:04] dimitry-unified-streaming opened #501 "CentOS 7 default variant never brings up networking"
Recent CentOS 7 'default' variant images fail to start any networking. This happens with e.g.:

[code]

If you attach to the container, you can see there is no `/etc/sysconfig/network-scripts/ifcfg-eth0` file, which is likely the cause. I have older centos7 lxc containers, which do have this file, and do start their network correctly.

How to reproduce (here I'm using Ubuntu 22.04 as host):

[code

[2022-04-22 12:24] dimitry-unified-streaming commented on #501
I suspect this was broken in e7b9c617360a32f8d55ce364426dd999408a04ed by @monstermunchkin.

But it's hard to check for me, as the jenkins logs at https://jenkins.linuxcontainers.org/job/image-centos/ seem to have only the history of the last two jobs?

[2022-04-22 12:38] monstermunchkin commented on #501
No, that shouldn't cause any issues. I know that a recent change to distrobuilder breaks images. There's already a fix for that (https://github.com/lxc/distrobuilder/pull/625). Once the images are built with the fixed distrobuilder, you shouldn't have any problems anymore.

[2022-04-22 12:50] dimitry-unified-streaming commented on #501
Aha, thanks! Note that I just found out that it also affects the rockylinux 8 default variant images. I'll keep an eye on the distrobuilder to see when it produces new images.

[2022-04-22 12:58] #498 closed

[2022-04-22 15:09] tomponline commented on #351
Would be good to consider looking at this issue again based on https://github.com/lxc/lxd/issues/10309

[2022-04-22 16:20] dimitry-unified-streaming commented on #501
@monstermunchkin apologies if I'm a bother, but are these image builds triggered by your commit(s), or are they on a daily timer? If I look at https://jenkins.linuxcontainers.org/view/Images/job/image-centos/, it appears that job is run daily after 07:00 ?

If that is the case I'll check the images tomorrow, and if they work I'll close this ticket.

[2022-04-22 17:08] monstermunchkin commented on #501
The images are built daily.

[2022-04-22 17:14] stgraber commented on #501
I've re-triggered centos now, so should hit the image servers in a couple of hours.

[2022-04-22 17:14] #501 closed

[2022-04-23 08:49] dimitry-unified-streaming commented on #501
Thanks to you both. I can confirm the centos-7-amd64-default-20220422_17:15 image works correctly now, and networking comes up just fine.

Still having trouble with the debian 11 and 12 images, but that's for another issue. :)

[2022-04-24 21:14] albinou opened #503 "Image debian/bullseye/cloud gets 2 IPv4 addresses on startup"
Hi,

When launching a Debian bullseye with the cloud variant:

[code]

... both `cloud-init` and `systemd-networkd.service` run a DHCP request and eth0 gets 2 IPv4 addresses.

It seems this issue has already been addressed in #487 but the fix is not working. Indeed, since `systemd-networkd.socket` is enabled, it seems `systemd-network.service` is run as a kind of dependency.

I guess the fix is to

[2022-04-24 22:04] stgraber commented on #503
@monstermunchkin

[2022-04-25 13:12] jmdilly commented on #503
Hi all,

On my side, I encounter the following behaviours with this image :
- If `systemd-networkd.service` is enabled and user.network-config is provided to cloud-init with settings for eth0, then this interface is not set up at all anymore, but the others are (eth1, etc...)
- if `systemd-networkd.service` is disabled and user.network-config is provided to cloud-init with settings for eth0, then

[2022-04-28 16:01] #497 closed

[2022-05-06 17:56] cquike opened #517 "A number of images don't get the IPv4 with lxd 3.03"
I have tried a few images lately that seem not to get their IPv4 address when starting up in our production LXD 3.0.3 installation (with host Ubuntu 18.04). The images I have tried are:
debian/11
debian/12
fedora/34
fedora/35

The images were working fine in LXD 3.0.3 at least late Jan 2022 when we grab them last time from the images: server.

If a try those images with LXD 4.0.7 (in a testing Deb

[2022-05-11 08:05] tomponline commented on #490
Working on this now.

[2022-05-11 13:33] tomponline commented on #490
Looks like OVN in Ubuntu Jammy is broken - I keep getting ovn-controller using 100% CPU intermittently and the network not working properly.

[2022-05-12 08:40] cquike commented on #517
For completion: It seems that a IPV6 address is actually there, but not IPv4. This are the logs of systemd-netword in a Debian/11 container:
[code]

As a comparison, in a LXC 4.0.7 host there is one additional line:
`May 12 08:34:54 super-stag systemd-networkd[74]: eth0: DHCPv4 address 10.205.114.101/24 via 10.205.114.1
`

[2022-05-12 08:45] cquike commented on #517
There is also a different in the output of networkctl. In the LXC 3.0.3 host:
[code]
Whereas in the LXC 4.0.7 host:
[code]

[2022-05-12 09:14] cquike commented on #517
If I manually undo the changes of 6e7038c066bc19e357692ea70f9bab8e38008c10 in the container and reboot then I confirm that IPv4 in Debian/11 are assigned. So it looks as of systemd-networkd running in the container doesn't work with LXC 3.0.3.

[2022-05-12 09:20] stgraber commented on #517
@monstermunchkin can you take a look?

[2022-05-17 07:16] tomponline commented on #490
Reopened as although we have added the required changes to get the tests to run on Jammy, there is an issue in the Jammy OVN version that is causing ovn-controller to use high CPU and stop functioning when networks are being deleted, causing the tests to fail intermittently.

[2022-05-18 12:02] monstermunchkin commented on #517
@cquike you can "fix" the issue by setting

[code]

[2022-05-19 18:14] sombrafam commented on #132
Hey folks, I came across something that looks closely related to this issue, but in a ubuntu/(bionic|focal|impish)/cloud images. First thing I noticed was the lack of the ssh-import package, so, I can't import any user keys to the vm/container. Then, I'm getting the ssh error:

[code]

But what is curious is that after the VM is up I can restart the ssh command. Is there something missing from the

[2022-05-19 18:45] sombrafam commented on #132
Just figured it out. I'm adding the ss-import package in the list which install the openssh-server as dependency. But, this still kind of a problem. What is the solution for this case? cloud-init still blocking the user from sshing into the instance since the ssh_authorized_keys are inserted but the user is locked due the cloud-init module breaking.

[2022-05-19 20:00] cquike commented on #517
Thank you very much for the advice.
First I thought that it might not work because we create our images in an automatic fashion (with packer), and your suggestion would be applied after the image was created. But by then the image creation has already failed.
Then I realized that I can apply that trick to the default profile with this:
`lxc profile set default raw.lxc "lxc.mount.auto=sys"`
And the

[2022-05-26 19:20] stgraber commented on #517
Closing as I don't believe there's anything we can directly do in the images to make them behave better here and LXD 3.0 is in security-only maintenance at this point so we're unlikely to be releasing a change to its behavior.

[2022-05-26 19:20] #517 closed

[2022-06-02 11:05] kolkov commented on #351
I can's see any Gentoo images when call `lxc-create t download` https://github.com/lxc/lxc/issues/4129

[2022-06-10 13:26] srbala opened #542 "Add Arch s390x support to AlmaLinux 9"
AlmaLinux has s390x support in AlmaLinux 9. It would be great to enable that arch in images.

[2022-06-10 13:54] stgraber commented on #542
@monstermunchkin

[2022-06-13 14:10] #542 closed

[2022-06-14 16:17] srbala commented on #542
@monstermunchkin @stgraber Thank you for the PR. Noticed build failures for `s390x`, https://jenkins.linuxcontainers.org/job/image-almalinux/ any suggestion to resolve it

[2022-06-14 16:32] stgraber commented on #542
It can't be resolved. We'll be removing the s390x architecture for Alma.

The error basically says that you need at least a z14 mainframe to run Alma, the one we have is a z13.

[2022-07-23 03:40] danielraad opened #579 "Add Oracle VM support"

[2022-08-01 16:57] ludwig-gramberg opened #584 "Missing etc/network/interfaces files in todays download-template-release for debian 11 amd64 (August 1st 22)"
Today I can't create any containers with network access when using the debian 11 amd64 download template:

`lxc-create -f /etc/lxc/mytest.conf --name mytest --template download -- --release bullseye --arch amd64 --dist debian`

In rootfs the folder `/etc/network` is missing. No `interfaces` file is created and the container does not have access to the network/internet. On another machine with an o

[2022-08-01 20:33] stgraber commented on #584
@monstermunchkin

[2022-08-01 20:34] stgraber commented on #584
Last change was 3 days ago but shouldn't have touched that.
https://github.com/lxc/lxc-ci/commits/master/images/debian.yaml

[2022-08-02 06:03] ludwig-gramberg commented on #584
maybe the date is misleading and I'm not involved enough to know what happened but the download-template for debian bullseye/amd64/default specifically the rootsfs.tar.xz as listed here: https://uk.lxd.images.canonical.com/  is missing the `/etc/network`-part.

[2022-08-02 07:04] tomponline commented on #584
Is this because its switched over to using systemd-networkd?

[2022-08-02 07:20] tomponline commented on #584
Confirmed that is why, just launched a fresh container using `images:debian/11` and it got IPv4 and IPv6 configured correctly using systemd-networkd:

[code]

[2022-08-02 07:21] #584 closed

[2022-08-02 07:24] ludwig-gramberg commented on #584
Hi @tomponline so if I want to setup a container with static ip, instead of preparing settings in /etc/network/interfaces I have to do so in /etc/systemd/network/eth0.network ? Is that correct?

[2022-08-02 07:26] tomponline commented on #584
If you're connecting your instance to a LXD managed network (such as lxdbr0) you don't need to modify the container's network settings at all, instead you can specify a static DHCP lease using LXD device config, e.g.

[code]

If you're using an unmanaged network then, yes, you will need to modify that file.

[2022-08-02 07:31] ludwig-gramberg commented on #584
I'm using lxc without lxd. Thanks for the tipp! Gonna try that right now :-)

[2022-08-02 09:30] ludwig-gramberg commented on #584
Works like a charm.
Thank you!

[2022-08-02 21:12] simondeziel opened #585 "Ubuntu Desktop image have screen lock enabled"
If you create a VM with `lxc launch images:ubuntu/jammy/desktop --vm` and wait a bit for the screen lock to activate, you won't be able to unlock the graphical session because the `ubuntu` user has no password:

[code]

Ideally, screen locking should be disabled.

[2022-08-02 21:46] stgraber commented on #585
@monstermunchkin

[2022-08-04 15:59] M1cha opened #586 "Openwrt procd jail"
First, thx for the openwrt images, they're very useful :)
The upcoming release will introduce [proc jails](https://openwrt.org/docs/guide-user/security/security-features#procd_jail) for process isolation. The current [openwrt.yaml](https://github.com/lxc/lxc-ci/blob/a5ed954cf2c52e8148207df59321e8b02525ef75/images/openwrt.yaml#L477) for distrobuilder already disables the jail for dnsmasq as a worka

[2022-08-08 12:57] jack9603301 opened #588 "Support Vyos System"
Support Vyos System

see:

1. vyos.net
2. https://phabricator.vyos.net/T4599

[2022-08-14 11:40] melato opened #589 "alpine template uses out-of-date mirror"
I wanted to get an alpine 3.16.2 image, which is not available yet from images:alpine/3.16, so I built my own using distrobuilder.
The image I built was 3.16.1.  I changed the source url
from:  https://mirror.csclub.uwaterloo.ca/alpine/
to: https://dl-cdn.alpinelinux.org/alpine/
and I got a 3.16.2 image.

The mirror was changed on:
commit 3beaf12f74f8e9133a015f061d279f55b7b40803
Date:   Wed Jul 6

[2022-08-14 19:28] stgraber commented on #589
The main repository URL was very unreliable from IPv6 only systems. If the current mirror is deprecated we'll need to identify another North American IPv6 enabled mirror to replace it.

[2022-08-16 05:12] melato commented on #589
Now that it is documented why this mirror was chosen and how to build the image with another mirror, I'm content and have no issue.

In the meantime, https://mirror.csclub.uwaterloo.ca/alpine/ has been updated.

But the image build process ends up using alpinelinux.org anyway, as seen by the output of distrobuilder:

[code]
The resulting image has alpinelinux.org in /etc/apk/repositories , regardl

[2022-08-16 07:38] tomponline commented on #589
That is by design. We still want the resulting images to use the official Alpine CDN URL as the images may be used from many different networks wherever LXD/LXC is used. Whereas the distrobuilder initial image build is set to a specific mirror close to where the images are built for efficiency and reach-ability reasons (as described above).

Ideally distrobuilder would be updated to accept a custo

[2022-08-16 07:38] #589 closed

[2022-08-19 08:10] tomponline opened #591 "Re-enable Alpine 3.16"
https://github.com/lxc/lxc-ci/commit/a783ed8492467055a36b0f37f6477a10dde44aa6 temporarily disabled Alpine 3.16.

We've had reports that this is working again now:
https://discuss.linuxcontainers.org/t/images-alpine-3-16-have-disappeared/14883/3?u=tomp

So we should try re-enabling it and see if it works again.

[2022-08-20 09:40] melato commented on #591
Incidentally, the uwaterloo.ca mirror used by alpine.yaml was out of date for a few days, but it is now up-to-date.

The first few lines of the distrobuilder output when I build alpine.yaml, are:
[code]
So, distrobuilder downloads alpine-minirootfs-3.16.0-x86_64.tar.gz , presumably from the uwaterloo mirror, but then updates packages using dl-cdn.alpinelinux.org.  If the minoroot mirror is out-of-

[2022-08-22 07:41] tomponline commented on #591
Yes that seems problematic. We do expect the resulting image to be configured to use the default mirror, but using different mirrors during image creation seems like asking for trouble. @monstermunchkin what do you think?

[2022-08-22 12:48] monstermunchkin commented on #591
We could fix this by supporting pongo in `actions`. This would allow us to do something like this:

[code]

[2022-08-22 12:52] stgraber commented on #591
I think that'd make sense, we support pongo almost everywhere else, right?

[2022-08-22 12:54] monstermunchkin commented on #591
We support it in `content` in `files`, and in `targets`. I believe that's it.

[2022-08-22 21:35] #591 closed

[2022-08-22 21:48] monstermunchkin commented on #591
@melato see https://github.com/lxc/distrobuilder/pull/661

[2022-08-29 14:24] #585 closed

[2022-09-06 09:56] monstermunchkin commented on #586
I just built an OpenWrt 22.03 image, and `sysntpd` works without having to disable the proc jail. For `dnsmasq` however it still seems necessary to disable it, but I don't know why. Enabling `security.nesting` doesn't change the behaviour.

[2022-09-28 13:41] #490 closed

[2022-10-10 14:46] ntaken commented on #586
Interesting does it still work?

When I try with the 22.03 arm64 image from https://us.lxd.images.canonical.com/ I get "daemon.info procd: Instance sysntpd::instance1 s in a crash loop". But perhaps that is a different problem.

[2022-11-02 09:02] simondeziel opened #635 "`lxc image list images:ubuntu/22.10` doesn't work"
The other Ubuntu images are accessible through their codename and their version number but somehow, Kinetic/22.10 is missing the version number aliases:

[code]

[2022-11-02 12:21] stgraber commented on #635
Server has been updated with the alias.

[2022-11-02 12:21] #635 closed

[2022-11-17 19:20] simondeziel commented on #586
I just tested with `images:openwrt/22.03` (`d5e15fba1479`) and I also get `daemon.info procd: Instance sysntpd::instance1 s in a crash loop 6 crashes, 1 seconds since last crash` but only ~30-45 seconds after booting the container.

I also found that setting `security.nesting=true` avoids many `jail` errors. `logread` looks much cleaner with it at least.

[2022-11-29 01:45] pkking opened #656 "openEuler builds not stable"
Hi, team
We are happy to see the openEuler supported in lxc-ci :)
Seems the builds are still in abnormal status, mostly because `repo.openeuler.org` is not global fastly accessable.
Since we are still expanding the edge networking and CDNs, for now maybe you can try some of our others [mirrors](https://www.openeuler.org/en/mirror/list/) and if the mirrors works well, i will make a PR :)

[2022-11-29 07:43] stgraber commented on #656
@monstermunchkin can you try with https://ftp.belnet.be/mirror/openeuler/ ?

[2022-11-29 07:45] monstermunchkin commented on #656
@stgraber I tried all of the mirrors yesterday. The one you mentioned always caused an EOF error at the end of the download, but I'll try again. Maybe it was just having a bad day.

[2022-11-29 07:51] monstermunchkin commented on #656
@stgraber I was wrong. The mirror you mentioned for some odd reason doesn't contain any ISO images.

[2022-11-29 09:17] pkking commented on #656
If the runner boxes located in EU, maybe try https://fr-repo.openeuler.org/

[2022-11-29 21:48] stgraber commented on #656
They're in Canada and in the US, but you don't seem to have much in the way of mirrors on this side of the planet, so Europe is closest.

[2022-11-30 07:05] pkking commented on #656
Any news from this issue?
Maybe build it through a github action?

[2022-11-30 21:29] monstermunchkin commented on #656
https://ru-repo.openeuler.org/ seems to be reliable.